# Slicing

Given a list, write a program to rotate it left by 3 positions using slicing.

In [7]:
list = eval(input())

def rotate(list,n):
    
    return list[n:] + list[:n]

rotate(list,3)

1,2,3,4,5,6

(4, 5, 6, 1, 2, 3)

Write a function that takes a string and returns every third character.

In [9]:
def thirdc(str) :
    
    return str[::3]
thirdc('abcdefghijklm')

'adgjm'

Create a program to extract the middle third of a list of integers.

In [15]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

def middlepart(list):
    
    n = len(list)//3
    
    return list[n:2*n]

middlepart(l)

[5, 6, 7, 8]

Write a function to split a list into two halves using slicing.

In [18]:
def half(list):
    
    return list[:len(list)//2] , list[len(list)//2:]

half(l)

([1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12])

Given a list of strings, write a program to reverse the order of characters in every other string.

In [29]:
lst = ["apple", "ananab", "cherry", "etad", "elderberry"]

def restr(str):
    
    for i in range(len(str)):
        if i % 2 != 0 :
            
            str[i] = str[i][::-1]
    return str

restr(lst)

['apple', 'banana', 'cherry', 'date', 'elderberry']

# Operators

Implement a Python function that calculates the bitwise XOR of all elements in a list.

In [30]:
def xor(num):
    result = 0
    for i in num :
        result = result ^ i
        
    return result

xor(l)

12

Write a program to compare two lists element-wise using logical operators and return a new list with results.

In [44]:
list1 = [True, False, True]
list2 = [False, False, True]

def logical(l1,l2,op):
    
    if len(l1) != len(l2):
        
        raise ValueError("Both lists must be of same length")
    result = []
    
    for a,b in zip(l1,l2):
        
        if op == 'and':
            result.append(a and b)
        elif op == 'or':
            result.append(a or b)
        elif op == 'not':
            result.append(not a)
        else:
            raise ValueError("Unsupported operation type")
            
    return result

print(logical(list1,list2,'and'))
print(logical(list1,list2,'or'))
logical(list1,list2,'not')

[False, False, True]
[True, False, True]

[False, True, False]

Create a function that takes a list of integers and returns a list with the square of each number using list comprehension and the ** operator.

In [49]:
l = [1,2,3]

ls = [x**2 for x in l]
ls

[1, 4, 9]

Given two numbers, write a function to return their integer division result without using the division operator.

In [52]:
def dev(num , n):
    count = 0 
    while num >= n :
        num = num -n
        count += 1 
        
    return count

dev(10,3)

3

Implement a function that uses bitwise operators to determine if a number is even or odd.

In [54]:
def evenodd(x):
    
    if x % 2 == 0 :
        print("Even")
    else :
        print('Odd')

evenodd(9)

Odd

# Built-in Functions

Write a program to find the maximum element in a nested list using the max() function.

In [1]:
nested_listt = [[1, 2, 3],[4, 5, 6],[7, 8, 9],[10, [11, 12], 13]]

def max_num(nested_list):
    
    flatlist = []
    
    for element in nested_list :
        if isinstance (element,list):
            flatlist.extend(max_num(element))
            
        else :
            flatlist.append(element)
    
    return max(flatlist)

max_num(nested_listt)

TypeError: 'int' object is not iterable

Create a function that finds the sum of all elements in a list using reduce() from functools.

In [62]:
from functools import reduce 

l = [1,2,3,4,5]

result = reduce(lambda x, y : x + y , l , len(l))

result

20

Write a function that uses map() to convert a list of strings to uppercase.

In [2]:
def upper(str):
    return str.upper()

lst = ["apple", "ananab", "cherry", "etad", "elderberry"]

result = map(upper,lst)

return_list = list(result)

print(return_list)

['APPLE', 'ANANAB', 'CHERRY', 'ETAD', 'ELDERBERRY']

Implement a program to sort a dictionary by its values using the sorted() function.

In [6]:
# Sample dictionary
my_dict = {'apple': 10, 'banana': 5, 'cherry': 20, 'date': 15}

# Sorting the dictionary by its values
sorted_dict = dict(sorted(my_dict.items(),key=lambda item : item[1]))

print(sorted_dict)

{'banana': 5, 'apple': 10, 'date': 15, 'cherry': 20}

Use the filter() function to filter out all odd numbers from a list.

In [13]:
lst = [1,2,3,4,5,6]

result = list(filter(lambda x : x%2!=0 , lst))

result

[1, 3, 5]

# Conditionals

Write a program that checks if a string contains both uppercase and lowercase letters using conditional statements.

In [14]:
def checkstr(s):
    
    has_up = False 
    has_lo = False 
    
    for char in s :
        if char.isupper():
            has_up = True 
            
        if char.islower():
            has_lo = True 
            
    if has_up and has_lo :
        return "The string contains both upper and lower case characters"
    
    else : 
        return "The string does not contains both upper and lower case characters"
    
string = "Almabetter"

checkstr(string)

'The string contains both upper and lower case characters'

Create a function that returns "Fizz", "Buzz", or "FizzBuzz" based on a given integer input.

In [15]:
def FizzBuzz(num):
    
    if num % 3 ==  0 and num % 5 == 0 :
        print('FizzBuzz')
        
    elif num % 3 == 0 :
        print('Fizz')
        
    elif num % 5 == 0 :
        print('Buzz')
        
        
FizzBuzz(15)

FizzBuzz

Implement a Python function that checks if a given year is a leap year using nested if-else conditions.

In [17]:
def leap_year(year):
    
    if year % 400 == 0 :
        return True 
    elif year % 100 == 0 :
        return False 
    elif year % 4 == 0 :
        return True 
    else :
        return False 
    
    
leap_year(2000)

True

Write a program to find the largest of three numbers using conditional operators.

In [22]:
def largest(x,y,z):
    
    if x >= y and x >= z :
        return x 
    elif y >= z and y >= x :
        return y
    else :
        return z 
    
largest(17,93,1)

93

Create a function that returns the grade (A, B, C, etc.) based on a given score using multiple if-else conditions.

In [25]:
def grade(marks):
    
    if marks > 100 :
        return 'Enter Valid Marks'
    
    elif marks >= 90 :
        return 'Grade A'
    elif marks >= 70 :
        return 'Grade B'
    elif marks > 50 :
        return 'Grade C'
    else :
        return "Fail"
    
print(grade(50))
print(grade(60))
print(grade(80))
print(grade(93))
print(grade(110))

Fail
Grade C
Grade B
Grade A
Enter Valid Marks

# Loops

Write a program that prints the Fibonacci sequence up to the nth number using a while loop.

In [27]:
def fib(n):
    a,b = 0,1
    count = 0
    l = []
    while count < n :
        a, b = b,a+b
        l.append(a)
        count +=1
        
    return l

fib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [28]:
def fib(n):
    a,b = 0,1
    l = []
    while b < n :
        a, b = b,a+b
        l.append(a)
        
    return l

fib(10)

[1, 1, 2, 3, 5, 8]

Implement a program to reverse a given number using a while loop.

In [31]:
def reverse(num):
    rev = 0
    while num != 0 :
        rem = num % 10
        num = num // 10
        
        rev = (rev * 10) + rem
        
    return rev

reverse(3233)

3323

Create a function that counts the number of vowels in a string using a for loop.

In [32]:
def vowels(str):
    count = 0
    for i in str :
        if i in ['a','e','i','o','u','A','I','O','E','U'] :
            count += 1
    return count

vowels('straeio')

4

Write a program that generates a multiplication table for a given number using a for loop.

In [35]:
def table(n):
    
    for i in range (1,11):
        print(i * n)
table(3)

3
6
9
12
15
18
21
24
27
30

Implement a Python program to find the factorial of a number using a while loop.

In [41]:
def fact(n):
    x = 1
    while n > 0:
        x = x * n 
        n = n-1
    return x 

fact(5)

120

# Iterations

Write a program that flattens a nested list using a for loop and recursion.

In [42]:
nested_listt = [[1, 2, 3],[4, 5, 6],[7, 8, 9],[10, [11, 12], 13]]

def flatten_list(x):
    
    l = []
    
    for i in x :
        if isinstance(i,list):
            l.extend(flatten_list(i))
        else:
            l.append(i)
    return l

flatten_list(nested_listt)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Implement a function to find all prime numbers in a given range using a for loop.

In [48]:
def isprime(n):
    if n == 0 or n == 1 :
        return False
    l = []
    
    for i in range (2,n+1):
        isprime = True 
        
        for j in range (2,int(i**0.5)+1):
            
            if i % j == 0 :
                isprime = False 
                break
            if isprime :
                l.append(i)
    return l 

isprime(10)

[5, 7, 9]

In [ ]:
def isprime(n):
    l = []
    
    for num in range(2, n + 1):  # Start from 2 because 0 and 1 are not prime numbers
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            l.append(num)
    
    return l

# Example usage:
print(isprime(10))  # Output: [2, 3, 5, 7]

Create a Python program that generates the first n powers of 2 using a list comprehension.

In [51]:
def list_c(n):
    result = [2**i for i in range (1,n+1)]
    
    return result

list_c(9)

[2, 4, 8, 16, 32, 64, 128, 256, 512]

Write a program to calculate the sum of the digits of a number using a while loop.

In [52]:
def sumd(n):
    
    sum = 0
    
    while n > 0 :
        rem = n%10
        n = n // 10
        
        sum = sum + rem
    return sum 

sumd(234)

9

Implement a function that counts the frequency of each character in a string using a dictionary and a loop.

In [56]:
def frequency(str):
    
    d = {}
    
    for char in str :
        if char in d :
            d[char] += 1
        else :
            d[char] = 1
            
    return d 

frequency('aabbbccccddddd')

{'a': 2, 'b': 3, 'c': 4, 'd': 5}

Write a function that returns the second largest element in a list using a loop and conditional statements.

In [63]:
sqrs = [2, 2,4,4, 8, 16, 32, 64, 128, 256, 512]

def second_largest(lst):
    l =[]
    for i in lst:
        
        if i not in l :
            l.append(i)
    sorted_list = sorted(l,reverse=True)
    
    return sorted_list[1]

second_largest(sqrs)

256

Create a Python program that checks if a string is a palindrome using slicing and a loop.

In [64]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()

    if s == s[::-1]:
        return True
    for i in range(len(s) // 2):
        if s[i] != s[-(i + 1)]:
            return False
    
    return True

string = "A man a plan a canal Panama"
print(is_palindrome(string))

True

Implement a function to calculate the sum of squares of even numbers in a list using list comprehension and the sum() function.

In [71]:
l = [1,2,3,4,5]

def sum_sqrs(lst):
    
    result = sum(x**2 for x in lst if x % 2 == 0)
    return result

sum_sqrs(l)

20

Write a Python program to remove all occurrences of a specific element from a list using a loop and conditional statements.

In [75]:
l = [11,2,2,3,3,3]

def remove_element(lst,n):
    l1 = []
    for i in lst : 
        if i != n :
            l1.append(i)
    
    return l1

remove_element(l,3)

[11, 2, 2]

Create a function that returns the GCD of two numbers using the Euclidean algorithm and a while loop.

In [80]:
def gcd_numbers(num1,num2):
    
    while num2 > 0 :
        
        rem = num1%num2
        num1 = num2
        num2 = rem 
        
    return num1 

gcd_numbers(12,8)

4

# Advanced Challenges

Write a Python function that sorts a list of tuples by the second element using sorted() and lambda expressions.

In [81]:
data = [(1, 'apple'), (3, 'banana'), (2, 'cherry')]

def sort_tuple(lst):
    
    result = sorted(lst , key = lambda x : x[1])
    
    return result

sort_tuple(data)

[(1, 'apple'), (3, 'banana'), (2, 'cherry')]

Implement a function that calculates the sum of a list of integers but skips duplicates using a loop and conditionals.

In [82]:
l = [1,2,3,3,4,4,5,5,6,6,7,7,7]

def sum_int(lst):
    l = []
    
    for i in lst :
        if i not in l:
            l.append(i)
    return sum(l)

sum_int(l)

28

Write a program that generates all possible substrings of a given string using slicing and loops.

In [84]:
s = 'abbcccddd'

def substrings(s):
    
    sub = []
    length = len(s)
    
    for start in range(length):
        
        for end in range(start+1,length+1):
            
            sub.append(s[start:end])
            
    return sub 

substrings(s)

['a',
 'ab',
 'abb',
 'abbc',
 'abbcc',
 'abbccc',
 'abbcccd',
 'abbcccdd',
 'abbcccddd',
 'b',
 'bb',
 'bbc',
 'bbcc',
 'bbccc',
 'bbcccd',
 'bbcccdd',
 'bbcccddd',
 'b',
 'bc',
 'bcc',
 'bccc',
 'bcccd',
 'bcccdd',
 'bcccddd',
 'c',
 'cc',
 'ccc',
 'cccd',
 'cccdd',
 'cccddd',
 'c',
 'cc',
 'ccd',
 'ccdd',
 'ccddd',
 'c',
 'cd',
 'cdd',
 'cddd',
 'd',
 'dd',
 'ddd',
 'd',
 'dd',
 'd']

Create a function that returns the longest common prefix among a list of strings using a loop.

In [8]:
def common_prefix(s1,s2):
    
    prefix = ''
    
    for i in range(min(len(s1),len(s2))):
        
        if s1[i] == s2[i] :
            prefix += s1[i]
        else :
            break 
    return prefix

common_prefix('flower','flight')

'fl'

Implement a Python program that merges two sorted lists into one sorted list using a loop and conditionals.

In [9]:
def sorted_list(l1,l2):
    
    l3 = l1 + l2
    
    return sorted(l3)

l1 = [1,3,2]
l2 = [5,4,6]

sorted_list(l1,l2)

[1, 2, 3, 4, 5, 6]

# Mixed Difficulty

Write a program to generate Pascal’s triangle up to n rows using loops.

In [10]:
def generate_pascals_triangle(num_rows):
    triangle = []
    for i in range(num_rows):
        row = [1] * (i + 1)
        for j in range(1, i):
            row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
        triangle.append(row)
    return triangle

# Example usage
print(generate_pascals_triangle(5))

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

Implement a Python function that returns the transpose of a matrix using nested loops.

In [14]:
def transpose(matrix):
    # Initialize an empty matrix for the transpose
    transposed = []
    
    # Number of rows and columns in the original matrix
    num_rows = len(matrix)
    num_cols = len(matrix[0]) if num_rows > 0 else 0
    
    # Iterate over columns
    for col in range(num_cols):
        # Initialize a new row for the transposed matrix
        new_row = []
        # Iterate over rows
        for row in range(num_rows):
            # Append the element from the original matrix
            new_row.append(matrix[row][col])
        # Append the new row to the transposed matrix
        transposed.append(new_row)
    
    return transposed

# Example usage
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed_matrix = transpose(matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Create a program that finds all pairs of elements in a list that sum to a given value using loops.

In [18]:
def pairs(lst,sum_given):
    
    l = []
    
    for i in lst :
        for j in lst :
            if i+j == sum_given:
                l.append((i,j))
        
    return l 

l1 = [1,3,4,5,2]

pairs(l1,6)

[(1, 5), (3, 3), (4, 2), (5, 1), (2, 4)]

In [19]:
def pairs(lst, sum_given):
    l = []
    seen = set()  # To keep track of already seen numbers
    
    for i in lst:
        complement = sum_given - i
        if complement in seen:
            l.append((complement, i))
        seen.add(i)
        
    return l

# Example usage
l1 = [1, 3, 4, 5, 2]
print(pairs(l1, 6))

[(1, 5), (4, 2)]

Write a Python program to find the smallest missing positive integer in a list using loops and conditionals.

In [22]:
def smallest(lst):
    
    positive_int = [x for x in lst if x > 0]
    
    smallest_int = 1
    
    for i in positive_int :
        if smallest_int in positive_int:
            smallest_int += 1
        else: break
    return smallest_int

l = [1,2,4,5,7]

smallest(l)

3

Implement a function that finds the intersection of two lists using loops and conditionals.

In [20]:
def inter(l1,l2):
    
    l = []
    
    for i in l1 :
        if i in l2 :
            l.append(i)
    return l

l1 = [1,2,3]
l2 = [2,3,4]

inter(l1,l2)

[2, 3]

# Algorithmic Thinking

Write a Python program that finds the majority element in a list (an element that appears more than half the time) using loops and conditionals.

In [13]:
def mejority(lst):
    d = {}
    
    for i in lst :
        if i in d :
            d[i] += 1
        else :
            d[i] = 1
            
    return max(d,key = d.get)
        
l = [1,1,2,2,2,3,3,3,4,4,4,4,4,4,5,5,5,5,5]    
    
mejority(l)

4

Implement a function to rotate a matrix 90 degrees clockwise using slicing and loops.

In [23]:
def rotate_matrix_90_clockwise(matrix):
    # Step 1: Transpose the matrix
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

    # Step 2: Reverse each row of the transposed matrix
    rotated = [row[::-1] for row in transposed]
    
    return rotated

# Example usage
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

rotated_matrix = rotate_matrix_90_clockwise(matrix)
for row in rotated_matrix:
    print(row)

[7, 4, 1]
[8, 5, 2]
[9, 6, 3]

Create a Python program that checks if two strings are anagrams using built-in functions and loops.

In [25]:
def anagrams(s,s1):
    
    s = sorted(s.lower())
    s1 = sorted(s1.lower())
    
    if s == s1 :
        return True 
    else:
        return False
    
anagrams('amol','oal')

False

In [26]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for a case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    
    # Check if sorted characters of both strings are equal
    return sorted(str1) == sorted(str2)

# Example usage
print(are_anagrams("Listen", "Silent"))  # Output: True
print(are_anagrams("Triangle", "Integral"))  # Output: True
print(are_anagrams("Hello", "World"))  # Output: False

True
True
False

Write a function that generates all possible permutations of a list using recursion and loops.

In [27]:
import itertools

def generate_permutations(elements):
    return list(itertools.permutations(elements))

# Example usage
items = [1, 2, 3]
perms = generate_permutations(items)
for perm in perms:
    print(perm)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

Implement a Python program that solves the "Tower of Hanoi" problem using recursion and loops.

In [28]:
def tower_of_hanoi(n, source, auxiliary, destination):
    if n == 1:
        print(f"Move disk 1 from {source} to {destination}")
        return
    # Move n-1 disks from source to auxiliary
    tower_of_hanoi(n-1, source, destination, auxiliary)
    # Move the nth disk from source to destination
    print(f"Move disk {n} from {source} to {destination}")
    # Move the n-1 disks from auxiliary to destination
    tower_of_hanoi(n-1, auxiliary, source, destination)

# Example usage
n = 3  # Number of disks
tower_of_hanoi(n, 'A', 'B', 'C')  # A, B, C are the rods

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

# Slicing

Write a program to extract every other element from a list using slicing.

In [29]:
l = [1,2,3,4]

def every_second(lst):
    return lst[::2]

every_second(l)

[1, 3]

Create a function to reverse the last 5 characters of a string using slicing.

In [32]:
def rev_last(s):
    strr = s[-5:][::-1]

    first_part = s[:5]

    result = first_part + strr
    
    return result

print(rev_last('Almabetter'))

Almabrette

Given a string, write a program to replace every vowel with its uppercase version using slicing.

In [35]:
def vowels(str):
    result = ''
    
    for i in str :
        if i in ['a','e','i','o','u']:
            result += i.upper()
        else:
            result += i
    return result

vowels('alma')

'AlmA'

Write a function to create a new list containing the last 3 elements of a given list.

In [36]:
def lst3(lst):
    
    return list(lst[-3:])

lst3([1,2,3,4])

[2, 3, 4]

Implement a program to rotate a list right by 2 positions using slicing.

In [38]:
def rotate(lst):
    
    return lst[-2::] + lst[:-2:] 

l = [1,2,3,4,5,65]

rotate(l)

[5, 65, 1, 2, 3, 4]

# Operators

Write a program to calculate the bitwise AND of all elements in a list.

In [41]:
def bitand(lst):
    
    result = lst[0]
    
    for num in lst[1:]:
        
        result = result and num
        
    return result

bitand(l)

65

Create a function to find the number of bits set to 1 in the binary representation of an integer.

In [43]:
def count_bits_set_to_one(n):
    # Convert number to binary string and remove the '0b' prefix
    binary_representation = bin(n)[2:]
    # Count the number of '1's in the binary string
    return binary_representation.count('1')
print(count_bits_set_to_one(9))  # Output: 2 (binary: 1001)
print(count_bits_set_to_one(15)) # Output: 4 (binary: 1111)

2
4

Write a function to perform bitwise left shift on a number by a given number of positions.

In [56]:
def bitwise_left_shift(num, positions):
    return num << positions

# Example usage
number = 5  # Binary: 0101
shift_positions = 2
result = bitwise_left_shift(number, shift_positions)
print(result)  # Output: 20 (Binary: 10100)

20

Implement a program to determine if a number is a power of 2 using bitwise operators.

In [57]:
def is_power_of_two(n):
    # Check if n is greater than 0 and if n & (n - 1) == 0
    return n > 0 and (n & (n - 1)) == 0

# Example usage
number = 16
result = is_power_of_two(number)
print(result)  # Output: True (16 is a power of 2)

number = 18
result = is_power_of_two(number)
print(result)  # Output: False (18 is not a power of 2)

True
False

Create a function that computes the bitwise OR of two numbers and returns the result.

In [58]:
def bitwise_or(a, b):
    return a | b

# Example usage
num1 = 12  # Binary: 1100
num2 = 7   # Binary: 0111

result = bitwise_or(num1, num2)
print(result)  # Output: 15 (Binary: 1111)

15

# Built-in Functions

Write a program to find the index of the maximum element in a list using index() and max().

In [46]:
l = [1,2,333,4,5,65]

def index_max(lst):
    
    max_value = max(lst)
    
    return lst.index(max_value)

index_max(l)

2

Create a function that returns a list of tuples where each tuple contains an element and its index using enumerate().

In [47]:
def en(lst):
    l = []
    
    for index , num in enumerate(lst):
        l.append((num,index))
    return l 

en(l)

[(1, 0), (2, 1), (333, 2), (4, 3), (5, 4), (65, 5)]

Implement a program that uses zip() to merge two lists element-wise into a list of tuples.

In [48]:
def usezip(l1,l2):
    l = []
    for i , j in zip(l1,l2):
        l.append((i,j))
    return l

l1 = [1,3,5,7]
l2 = [2,4,6,8]

usezip(l1,l2)

[(1, 2), (3, 4), (5, 6), (7, 8)]

Write a function that uses all() to check if all elements in a list are positive.

In [54]:
def useall(lst):
    
    result = all(num > 0 for num in lst)
    
    return result
l1 = [1,-3,5,7]

print(useall(l1))

False

Create a program that uses any() to determine if any element in a list is zero.

In [55]:
def has_zero(lst):
    return any(num == 0 for num in lst)

# Example usage
lst = [1, 2, 3, 0, 5]
print(has_zero(lst))  # Output: True

True

# Conditionals

Write a program to check if a given number is a perfect square using conditional statements.

In [62]:
import math

def perfect_sq(n):
    
    if n < 0 :
        return False
    root = int(math.sqrt(n))
    
    return root * root == n
    
    
perfect_sq(8)

False

Create a function that categorizes a given age into "Child", "Teen", "Adult", or "Senior" based on age ranges.

In [64]:
def criteria(age):
    
    if age < 0 :
        return False 
    elif age < 14 :
        return 'Child'
    elif age < 18 :
        return 'Teen'
    elif age < 60:
        return 'Adult'
    else:
        return 'Senior'
    
print(criteria(-4))
print(criteria(4))
print(criteria(15))
print(criteria(19))
print(criteria(65))

False
Child
Teen
Adult
Senior

Implement a program that returns the smallest of three numbers using nested conditional statements.

In [67]:
def smallest(x,y,z):
    
    if x < y and x < z :
        return x
    elif y < x and y < z :
        return y 
    else:
        return z
    
smallest(333,84,56)

56

Write a function to check if a number is a prime number and return "Prime" or "Not Prime".

In [73]:
def isprime(n):
    
    if n < 0 :
        return False 
    elif n == 1 and n == 2 :
        return 'Prime'
    
    for i in range(2,int(n**0.5)+1):
        if n % i == 0 :
            return "Not Prime"
    return "Prime"

isprime(21)

'Not Prime'

Create a program that evaluates a student's grade and returns a corresponding letter grade based on specified thresholds.

In [74]:
def grade(marks):
    
    if marks > 100 :
        return 'Enter Valid Marks'
    
    elif marks >= 90 :
        return 'Grade A'
    elif marks >= 70 :
        return 'Grade B'
    elif marks > 50 :
        return 'Grade C'
    else :
        return "Fail"
    
print(grade(50))
print(grade(60))
print(grade(80))
print(grade(93))
print(grade(110))

Fail
Grade C
Grade B
Grade A
Enter Valid Marks

# Loops

Write a program to generate a list of squares of numbers from 1 to 10 using a for loop.

In [75]:
sqrs = [x**2 for x in range (1,11)]
sqrs

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Create a function to find all the even numbers in a given range using a while loop.

In [1]:
def find_even(n):
    l = []
    
    if n <= 0 :
        return False
    i = 1
    
    while i <= n :
        
        if i % 2 == 0:
            l.append(i)
        i +=1
    return l

find_even(100)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

Implement a program that calculates the product of all elements in a list using a loop.

In [5]:
def product(lst):
    pro = 1
    
    for i in lst :
        pro *=i
    
    return pro

l=[1,2,3]

product(l)

6

In [6]:
from functools import reduce

# Using lambda to calculate the product
calculate_product = lambda lst: reduce(lambda x, y: x * y, lst)

# Example usage
numbers = [2, 3, 4, 5]
result = calculate_product(numbers)
print(result)  # Output will be 120

120

Write a program that prints the sum of digits of numbers from 1 to 100 using a loop.

In [2]:
total_sum = 0
for i in range(101):
    total_sum += sum(int(digit) for digit in str(i)) 
    
print(total_sum)

901

Create a function to generate a pattern of stars (like a triangle) using nested loops.

In [5]:
def pattern(n):
    
    for i in range(1,n+1):
        print("*"*i)
        
pattern(9)

*
**
***
****
*****
******
*******
********
*********

# Iterations

Write a program to flatten a list of lists into a single list using list comprehension.

In [10]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, [11, 12], 13]]

result = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]

flat_result = [x for item in result for x in (item if isinstance(item, list) else [item])]

print(flat_result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Create a function to generate a list of all possible substrings of a given string using nested loops.

In [14]:
def possible_sub(s):
    sub = []
    length = len(s)
    
    for start in range(length):
        for end in range (start+1 , length+1):
            sub.append(s[start:end])
    return sub

possible_sub('abbcc')

['a',
 'ab',
 'abb',
 'abbc',
 'abbcc',
 'b',
 'bb',
 'bbc',
 'bbcc',
 'b',
 'bc',
 'bcc',
 'c',
 'cc',
 'c']

Implement a program that iterates over a dictionary and prints the key-value pairs.

In [16]:
def pairs(d):
    
    for key,value in d.items():
        print(key,value)
        
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York',
    'occupation': 'Engineer'
}

pairs(my_dict)

name Alice
age 25
city New York
occupation Engineer

Write a function that returns the sum of all numbers in a list of lists using nested loops.

In [2]:
list_of_lists = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]


def sum_lists(lst):
    total_sum = 0
    for i in lst :
        if isinstance(i,list):
            total_sum += sum_lists(i)
        else:
            total_sum += i
    return total_sum

sum_lists(list_of_lists)

45

Create a program to count the frequency of each letter in a string using a loop.

In [5]:
def frequency(str):
    d = {}
    
    for i in str :
        if i in d :
            d[i] += 1
        else:
            d[i] = 1
    for key,value in d.items() :
        print(key,value)
    
frequency('abbcccdddd')

a 1
b 2
c 3
d 4

# Combined Concepts

Write a function to remove duplicates from a list and return the unique elements in sorted order.

In [7]:
l = [2,1,4,5,2,3,9,7,6,7,8,8]

def rem_dup(lst):
    l = []
    
    for i in lst :
        if i not in l :
            l.append(i)
    return sorted(l)

rem_dup(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Create a Python program to compute the intersection of two lists using loops and conditional statements.

In [9]:
l1 = [2,3,4]
l2 = [1,2,4,4]

def intar(l1,l2):
    l = []
    for i in l1 :
        if i in l2 and i not in l  :
            l.append(i)
    return l 

intar(l1,l2)

[2, 4]

Implement a function to find the longest substring without repeating characters using loops and conditionals.

In [11]:
def longest_str(str):
    longest = ''
    
    for char in str :
        if char not in longest :
            longest += char
            
    return longest

longest_str("abcabcbb")

'abc'

In [10]:
def longest_unique_substring(s):
    longest = ""
    current = ""
    
    for char in s:
        if char in current:
            # Update the current substring to start after the first occurrence of the repeated character
            current = current[current.index(char) + 1:]
        current += char
        # Update the longest substring if the current one is longer
        if len(current) > len(longest):
            longest = current
    
    return longest

# Example usage
input_string = "abcabcbb"
result = longest_unique_substring(input_string)
print("Longest substring without repeating characters:", result)

Longest substring without repeating characters: abc

Write a program that merges two lists and removes any duplicate elements.

In [13]:
l1 = [2,3,4]
l2 = [1,2,4]

def merge_uni(l1,l2):
    
    l3 = l1 + l2
    l = []
    for i in l3 :
        if i not in l :
            l.append(i)
    return sorted(l)

merge_uni(l1,l2)

[1, 2, 3, 4]

Create a function that returns the most frequent element in a list using loops and a dictionary.

In [16]:
l = [1,2,3,4,5,2,3,3,4,4,4]

def most_freq(lst):
    
    d = {}
    
    for i in lst :
        if i in d :
            d[i] += 1
        else:
            d[i] = 1
    
    max_value = float('-inf')
    max_key = None
    
    for key,value in d.items():
        
        if value > max_value :
            max_value = value
            max_key = key
    
    return max_key , max_value
    

most_freq(l)

(4, 4)

# Advanced Challenges

Write a program to solve the "Knapsack" problem using loops and dynamic programming.

In [5]:
def knapsack(weights, values, capacity):
    n = len(weights)
    # Create a 2D array to store the maximum value that can be obtained
    dp = [[0] * (capacity + 1) for _ in range(n + 1)]
    
    # Build the table dp[][] in bottom-up fashion
    for i in range(1, n + 1):
        for w in range(1, capacity + 1):
            # If the weight of the current item is more than the current capacity, skip it
            if weights[i - 1] <= w:
                # Max of including the item or not including the item
                dp[i][w] = max(dp[i - 1][w], dp[i - 1][w - weights[i - 1]] + values[i - 1])
            else:
                # Skip the item
                dp[i][w] = dp[i - 1][w]
    
    return dp[n][capacity]

# Example usage
weights = [1, 2, 3, 8, 7, 4]
values = [20, 5, 10, 40, 15, 25]
capacity = 10

max_value = knapsack(weights, values, capacity)
print("Maximum value that can be obtained:", max_value)

Maximum value that can be obtained: 60

Implement a function to find all unique triplets in a list that sum to a target value using loops.

In [6]:
def find_triplets(nums, target):
    nums.sort()  # Sort the list to help avoid duplicates and simplify the triplet search
    triplets = []
    
    for i in range(len(nums) - 2):
        # Avoid duplicates for the first number
        if i > 0 and nums[i] == nums[i - 1]:
            continue
        
        left, right = i + 1, len(nums) - 1
        
        while left < right:
            current_sum = nums[i] + nums[left] + nums[right]
            
            if current_sum == target:
                triplets.append([nums[i], nums[left], nums[right]])
                
                # Move left and right to the next different elements
                while left < right and nums[left] == nums[left + 1]:
                    left += 1
                while left < right and nums[right] == nums[right - 1]:
                    right -= 1
                
                left += 1
                right -= 1
            
            elif current_sum < target:
                left += 1
            else:
                right -= 1
    
    return triplets

# Example usage
nums = [-1, 0, 1, 2, -1, -4]
target = 0
result = find_triplets(nums, target)
print("Unique triplets that sum to", target, ":", result)

Unique triplets that sum to 0 : [[-1, -1, 2], [-1, 0, 1]]

Create a Python program to generate all possible combinations of a given length from a list of elements.

In [8]:
from itertools import combinations

def generate_combinations(elements, length):
    return list(combinations(elements, length))

# Example usage
elements = [1, 2, 3, 4]
length = 3
result = generate_combinations(elements, length)
print("All possible combinations of length", length, ":", result)

All possible combinations of length 3 : [(1, 2, 3), (1, 2, 4), (1, 3, 4), (2, 3, 4)]

Write a function that determines the longest increasing subsequence in a list of integers.

In [9]:
def longest_increasing_subsequence(nums):
    if not nums:
        return []
    
    # Length of the input list
    n = len(nums)
    
    # dp[i] will hold the length of the LIS ending at index i
    dp = [1] * n
    # To reconstruct the sequence
    prev = [-1] * n
    
    # Compute the dp and prev arrays
    for i in range(1, n):
        for j in range(i):
            if nums[i] > nums[j] and dp[i] < dp[j] + 1:
                dp[i] = dp[j] + 1
                prev[i] = j
    
    # Find the index of the maximum value in dp
    max_length = max(dp)
    max_index = dp.index(max_length)
    
    # Reconstruct the LIS from the dp and prev arrays
    lis = []
    while max_index != -1:
        lis.append(nums[max_index])
        max_index = prev[max_index]
    
    return lis[::-1]  # Reverse the LIS to get it in correct order

# Example usage
nums = [10, 22, 9, 33, 21, 50, 41, 60, 80]
result = longest_increasing_subsequence(nums)
print("Longest increasing subsequence:", result)

Longest increasing subsequence: [10, 22, 33, 50, 60, 80]

Implement a program to find the shortest path in a grid using breadth-first search.

In [10]:
from collections import deque

def shortest_path_in_grid(grid, start, end):
    # Directions for moving in the grid (right, left, down, up)
    directions = [(0, 1), (0, -1), (1, 0), (-1, 0)]
    
    # Get the number of rows and columns
    rows, cols = len(grid), len(grid[0])
    
    # Check if start or end is out of bounds or if start or end is blocked
    if not (0 <= start[0] < rows and 0 <= start[1] < cols) or \
       not (0 <= end[0] < rows and 0 <= end[1] < cols) or \
       grid[start[0]][start[1]] == 0 or grid[end[0]][end[1]] == 0:
        return -1
    
    # Initialize BFS structures
    queue = deque([(start, [start])])  # Each element is ((x, y), path_so_far)
    visited = set()
    visited.add(start)
    
    while queue:
        (current_x, current_y), path_so_far = queue.popleft()
        
        # Check if we've reached the end
        if (current_x, current_y) == end:
            return path_so_far
        
        # Explore neighbors
        for direction in directions:
            next_x, next_y = current_x + direction[0], current_y + direction[1]
            
            if (0 <= next_x < rows and 0 <= next_y < cols and
                (next_x, next_y) not in visited and grid[next_x][next_y] == 1):
                visited.add((next_x, next_y))
                queue.append(((next_x, next_y), path_so_far + [(next_x, next_y)]))
    
    return -1  # No path found

# Example usage
grid = [
    [1, 1, 1, 0, 1],
    [0, 1, 0, 0, 1],
    [1, 1, 1, 1, 1],
    [1, 0, 0, 0, 1],
    [1, 1, 1, 1, 1]
]

start = (0, 0)
end = (4, 4)
result = shortest_path_in_grid(grid, start, end)

if result == -1:
    print("No path found")
else:
    print("Shortest path:", result)

Shortest path: [(0, 0), (0, 1), (1, 1), (2, 1), (2, 2), (2, 3), (2, 4), (3, 4), (4, 4)]

# Mixed Difficulty

Write a program to generate the Fibonacci sequence up to a given number of elements using a loop.

In [17]:
def fib(n):
    
    a,b = 0,1
    l = []
    
    while b <= n :
        
        l.append(a)
        a,b = b,a+b
        
    return l

fib(10)

[1, 1, 2, 3, 5, 8]

In [19]:
def fib(n):
    
    a,b = 0,1
    l = []
    i = 1
    while i <= n :
        
        l.append(a)
        a,b = b,a+b
        i += 1
    return l

fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Create a function to find the median of a list of numbers using sorting and conditional statements.

In [22]:
def median(lst):
    sorted_lst = sorted(lst)
    length = len(sorted_lst)
    
    if length % 2 == 1:
        return sorted_lst[length // 2]
    else:
        mid1 = sorted_lst[length // 2 - 1]
        mid2 = sorted_lst[length // 2]
        return (mid1 + mid2) / 2

# Example usage
unsorted_list = [1, 5, 2, 8, 3, 1]
print(median(unsorted_list))

2.5

Implement a Python program to perform a binary search on a sorted list.

In [23]:
def binary_search(sorted_list, target):
    left, right = 0, len(sorted_list) - 1
    
    while left <= right:
        mid = (left + right) // 2
        mid_value = sorted_list[mid]
        
        if mid_value == target:
            return mid  # Target found, return the index
        elif mid_value < target:
            left = mid + 1  # Search in the right half
        else:
            right = mid - 1  # Search in the left half
    
    return -1  # Target not found

# Example usage
sorted_list = [1, 3, 5, 7, 9, 11, 13]
target = 7
result = binary_search(sorted_list, target)
print(f"Index of {target}:", result)

Index of 7: 3

Write a function to calculate the sum of squares of numbers in a range using a list comprehension.

In [2]:
result = sum([ x**2 for x in range (4) ])

result

14

Create a program that checks if two lists have any common elements and returns a boolean result.

In [4]:
def common(l1,l2):
    
    for i in l1 :
        if i in l2 :
            return True 
    return False

l1=[1,2,3]
l2=[5,6]
common(l1,l2)

False

# Algorithmic Thinking

Write a function to find the longest common subsequence between two strings.

In [11]:
def longest_common_subsequence(str1, str2):
    m, n = len(str1), len(str2)
    
    # Create a 2D array to store lengths of longest common subsequence.
    dp = [[0] * (n + 1) for _ in range(m + 1)]
    
    # Fill dp array
    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if str1[i - 1] == str2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1] + 1
            else:
                dp[i][j] = max(dp[i - 1][j], dp[i][j - 1])
    
    # Reconstruct the LCS from the dp array
    lcs = []
    i, j = m, n
    while i > 0 and j > 0:
        if str1[i - 1] == str2[j - 1]:
            lcs.append(str1[i - 1])
            i -= 1
            j -= 1
        elif dp[i - 1][j] > dp[i][j - 1]:
            i -= 1
        else:
            j -= 1
    
    # The LCS is built in reverse order
    return ''.join(reversed(lcs))

# Example usage
str1 = "ABCBDAB"
str2 = "BDCAB"
result = longest_common_subsequence(str1, str2)
print("Longest Common Subsequence:", result)

Longest Common Subsequence: BDAB

Implement a Python program to solve the "N-Queens" problem using recursion and backtracking.

In [12]:
def solve_n_queens(n):
    def is_safe(board, row, col):
        # Check this row on the left side
        for i in range(col):
            if board[row][i] == 1:
                return False
        
        # Check upper diagonal on the left side
        for i, j in zip(range(row, -1, -1), range(col, -1, -1)):
            if board[i][j] == 1:
                return False
        
        # Check lower diagonal on the left side
        for i, j in zip(range(row, n, 1), range(col, -1, -1)):
            if board[i][j] == 1:
                return False
        
        return True
    
    def solve(board, col):
        # If all queens are placed
        if col >= n:
            solution = []
            for row in board:
                solution.append("".join("Q" if x else "." for x in row))
            solutions.append(solution)
            return
        
        # Try placing queen in all rows in this column
        for i in range(n):
            if is_safe(board, i, col):
                board[i][col] = 1  # Place the queen
                solve(board, col + 1)  # Recur to place the rest of the queens
                board[i][col] = 0  # Backtrack
    
    # Initialize the board
    board = [[0] * n for _ in range(n)]
    solutions = []
    solve(board, 0)
    return solutions

# Example usage
n = 4
result = solve_n_queens(n)
print(f"Number of solutions for {n}-Queens: {len(result)}")
for solution in result:
    for row in solution:
        print(row)
    print()

Number of solutions for 4-Queens: 2
..Q.
Q...
...Q
.Q..

.Q..
...Q
Q...
..Q.

Create a function that generates all valid permutations of a given string.

In [13]:
from itertools import permutations

def generate_permutations(s):
    # Generate all permutations of the string
    perm = permutations(s)
    
    # Convert each permutation tuple to a string and return a list of these strings
    return [''.join(p) for p in perm]

# Example usage
string = "abc"
result = generate_permutations(string)
print("All permutations:", result)

All permutations: ['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

Write a program that finds the shortest path between two nodes in a graph using Dijkstra's algorithm.

In [14]:
import heapq

def dijkstra(graph, start, end):
    # Priority queue to store (distance, node) tuples
    pq = []
    
    # Distances to all nodes initialized to infinity
    distances = {node: float('inf') for node in graph}
    distances[start] = 0
    
    # Previous nodes to reconstruct the shortest path
    previous_nodes = {node: None for node in graph}
    
    # Push the start node into the priority queue
    heapq.heappush(pq, (0, start))
    
    while pq:
        # Get the node with the smallest distance
        current_distance, current_node = heapq.heappop(pq)
        
        # If we reached the destination node, break out of the loop
        if current_node == end:
            break
        
        # If the distance is greater than the recorded distance, skip processing
        if current_distance > distances[current_node]:
            continue
        
        # Explore neighbors
        for neighbor, weight in graph[current_node].items():
            distance = current_distance + weight
            
            # If a shorter path is found
            if distance < distances[neighbor]:
                distances[neighbor] = distance
                previous_nodes[neighbor] = current_node
                heapq.heappush(pq, (distance, neighbor))
    
    # Reconstruct the shortest path
    path = []
    node = end
    while node is not None:
        path.append(node)
        node = previous_nodes[node]
    
    return path[::-1], distances[end]

# Example usage
graph = {
    'A': {'B': 1, 'C': 4},
    'B': {'C': 2, 'D': 5},
    'C': {'D': 1},
    'D': {}
}

start_node = 'A'
end_node = 'D'
path, distance = dijkstra(graph, start_node, end_node)

print(f"Shortest path from {start_node} to {end_node}: {path}")
print(f"Distance: {distance}")

Shortest path from A to D: ['A', 'B', 'C', 'D']
Distance: 4

Implement a function to solve the "Subset Sum" problem using recursion and dynamic programming.

In [15]:
def subset_sum_recursive(arr, target):
    def helper(index, current_sum):
        # Base cases
        if current_sum == target:
            return True
        if index >= len(arr) or current_sum > target:
            return False
        
        # Include the current element in the subset
        include = helper(index + 1, current_sum + arr[index])
        
        # Exclude the current element from the subset
        exclude = helper(index + 1, current_sum)
        
        return include or exclude
    
    return helper(0, 0)

# Example usage
arr = [3, 34, 4, 12, 5, 2]
target = 9
print("Subset with sum", target, "exists:", subset_sum_recursive(arr, target))

Subset with sum 9 exists: True

# Slicing

Write a function to extract the first 4 characters from a string using slicing.

In [4]:
def firstfour(str):
    return str[:4]

firstfour('abcde')

'abcd'

Create a program to reverse the first half of a list and concatenate it with the second half.

In [9]:
def rev_list(lst):
    
    length = len(lst)
    
    first = lst[:int(length/2)]
    first_rev = sorted(first,reverse = True)
    
    return first_rev + lst[int(length/2):]

l = [1,2,3,4,5,6,7,8]

rev_list(l)

[4, 3, 2, 1, 5, 6, 7, 8]

In [ ]:
def reverse_first_half(lst):

    mid = len(lst) // 2
    result = lst[:mid][::-1] + lst[mid:]
    
    return result

lst = [1, 2, 3, 4, 5, 6, 7, 8]
reversed_lst = reverse_first_half(lst)
print(reversed_lst)

Implement a function to get every second element from a list in reverse order using slicing.

In [10]:
def every_sec(lst):
    
    for i in lst :
        return lst[::-2]
    
every_sec(l)

[8, 6, 4, 2]

Write a function to split a string into chunks of a given size using slicing.

In [21]:
def chunks(s, c):
    l = []
    for i in range(0, len(s), c):
        l.append(s[i:i+c])
    return l

print(chunks('abcdefg', 2))

['ab', 'cd', 'ef', 'g']

In [22]:
def split_string(s, chunk_size):

    chunks = [s[i:i+chunk_size] for i in range(0, len(s), chunk_size)]
    return chunks

s = "abcdefghij"
chunk_size = 3
result = split_string(s, chunk_size)
print(result)

['abc', 'def', 'ghi', 'j']

Create a program to extract the last two characters of each string in a list.

In [24]:
def lasttwo(lst):
    
    for i in lst:
        print(i[-2:])
    
str = ['abcd','dgsd','kyuh']

lasttwo(str)

cd
sd
uh

# Operators

Write a function to calculate the bitwise NOT of a number.

In [25]:
def bitwise_not(n):
    return ~n

bitwise_not(9)

-10

Create a program to perform bitwise AND between corresponding elements of two lists.

In [27]:
def bit_and(l1,l2):
    
    result = []
    for i , j in zip(l1,l2):
        result.append(i&j)
    return result

l1 = [1,2,3]
l2=[4,5,6]

bit_and(l1,l2)

[0, 0, 2]

Implement a function that uses bitwise XOR to toggle specific bits in a number.

In [28]:
def bit_xor(n,mask):
    return n ^ mask

bit_xor(9,3)

10

Write a function to calculate the result of shifting a number right by a specified number of positions.

In [2]:
def shifting(n , p):
    
    s = str(n)
    
    final_str = s[-p:] + s[0:p+1]
    
    return int(final_str)

shifting(12345,2)

45123

In [3]:
def shifting(n, p):
    return n >> p

print(shifting(32, 2))

8

Create a program that determines if a number is a power of 2 using bitwise operations.

In [5]:
def is_power_of_two(n):
    if n <= 0:
        return False
    return (n & (n - 1)) == 0

# Example usage:
print(is_power_of_two(4))   # Output: True
print(is_power_of_two(6))   # Output: False
print(is_power_of_two(16))  # Output: True
print(is_power_of_two(0))   # Output: False

True
False
True
False

# Built-in Functions

Write a program that finds the index of the first occurrence of a value in a list.

In [6]:
def index_x(lst,n):
    
    for i in lst :
        if i == n :
            return lst.index(i)
l = [1,2,3,4]

index_x(l,3)

2

Create a function to convert a list of integers to their corresponding hexadecimal strings.

In [7]:
def to_hex_list(lst):
    return [hex(num) for num in lst]

# Example usage
nums = [10, 255, 16, 0]
hex_list = to_hex_list(nums)
print(hex_list)  # Output: ['0xa', '0xff', '0x10', '0x0']

['0xa', '0xff', '0x10', '0x0']

Implement a program that uses reduce() to concatenate all strings in a list.

In [3]:
from functools import reduce

def con_str(acc, s):
    return acc + s

strings_list = [
    "apple",
    "banana",
    "cherry",
    "date",
    "elderberry",
    "fig",
    "grape",
    "honeydew",
    "kiwi",
    "lemon"
]
    
final_result = reduce(con_str, strings_list)
print(final_result)

applebananacherrydateelderberryfiggrapehoneydewkiwilemon

Write a function that calculates the length of the longest string in a list.

In [4]:
def longest(lst):
    longest_len = 0
    
    for i in lst :
        if len(i) > longest_len :
            longest_len = len(i)
    return longest_len

longest(strings_list)

10

Create a program to find the minimum and maximum values in a list of tuples based on the second element.

In [8]:
numbers_list = [
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9),
    (10, 11, 12),
    (13, 14, 15),
    (16, 17, 18),
    (19, 20, 21),
    (22, 23, 24),
    (25, 26, 27),
    (28, 29, 30)
]

def min_max(lst):
    min_value = lst[0][1]
    max_value = lst[0][1]
    
    for i in lst :
        if i[1] > max_value :
            max_value = i[1]
        
        if i[1] < min_value :
            min_value = i[1]
    return min_value , max_value

min_max(numbers_list)

(2, 29)

In [7]:
def min_max(lst):
    l = []
    
    for i in lst :
        l.append(i[1])
    
    return max(l) , min(l)

min_max(numbers_list)

(29, 2)

# Conditionals

Write a program to check if a given number is within a specified range (inclusive).

In [10]:
def within_range(r,n):
    
    for i in range(r):
        if i == n :
            return True 
    return False

within_range(15,16)

False

In [11]:
def within_range(n, lower, upper):
    return lower <= n <= upper

# Example usage
within_range(15, 10, 20)  # Returns True
within_range(25, 10, 20)  # Returns False

False

Create a function that categorizes a given number as "Positive", "Negative", or "Zero".

In [12]:
def cat(n):
    
    if n == 0 :
        return 'Zero'
    elif n > 0 :
        return 'Positive'
    else :
        return 'Negative'
    
cat(-9)

'Negative'

Implement a program that returns the type of a given value ("Integer", "Float", "String", etc.).

In [14]:
def type_n(n):
    return type(n)

type_n(9.)

float

Write a function to determine if a number is a perfect cube.

In [19]:
def perfect_cube(n):
    
    for i in range(n) :
        if i**3 == n :
            return True 
    return False

perfect_cube(125000)

True

In [20]:
def is_perfect_cube(n):
    if n < 0:
        return False
    root = round(n ** (1/3))
    return root ** 3 == n

# Example usage:
print(is_perfect_cube(27))  # True
print(is_perfect_cube(16))  # False

True
False

Create a program that returns "Even", "Odd", or "Zero" based on the given number.

In [23]:
def even_odd(n):
    
    if n == 0 :
        return 'Zero'
    elif n % 2 == 0 :
        return 'Even'
    else:
        return 'Odd'

even_odd(8)

'Even'

# Loops

Write a program that prints the first 10 terms of the arithmetic sequence with a given start and step.

In [24]:
def arth(s,st):
    terms = []
    
    for i in range(10):
        term = s + i * st
        terms.append(term)
    return terms

arth(100,7)

[100, 107, 114, 121, 128, 135, 142, 149, 156, 163]

Create a function to find the sum of the first n natural numbers using a for loop.

In [27]:
def sumn(n):
    sum = 0
    for i in range(n+1):
        sum += i
    return sum

sumn(10)

55

Implement a program to generate the reverse of a list using a while loop.

In [34]:
def rev_list(lst):
    
    l = []
    i = len(lst)-1
    
    while i >= 0 :
        l.append(lst[i])
        i -= 1
        
    return l

lst = [1,2,3,4]
rev_list(lst)

[4, 3, 2, 1]

Write a program that calculates the sum of the squares of numbers in a given range using a for loop.

In [35]:
def sum_pow(n):
    sum = 0
    for i in range(n):
         sum += i**2
    return sum

sum_pow(5)

30

Create a function to count how many times a specific element appears in a list using a loop.

In [36]:
def frequency(lst):
    
    d = {} 
    
    for i in lst :
        if i in d :
            d[i] += 1
        else:
            d[i] = 1
    return d

lst = [1,1,2,2,2,3,3,3,3,4]

frequency(lst)

{1: 2, 2: 3, 3: 4, 4: 1}

# Iterations

Write a program to flatten a list of tuples into a single list using list comprehension.

In [37]:
def flatten_tuples(tuples_list):
    return [item for tup in tuples_list for item in tup]

list_of_tuples = [(1, 2, 3), (4, 5), (6, 7, 8)]
flattened_list = flatten_tuples(list_of_tuples)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Create a function to generate all substrings of a given length from a string using nested loops.

In [2]:
def generate_substrings(s, length):
    substrings = []
    n = len(s)
    
    # Outer loop to go through the string
    for i in range(n - length + 1):
        substring = ''
        
        # Inner loop to generate substring of the specified length
        for j in range(i, i + length):
            substring += s[j]
        
        substrings.append(substring)
    
    return substrings

# Example usage:
string = "abcdef"
length = 3
result = generate_substrings(string, length)
print(result)

['abc', 'bcd', 'cde', 'def']

Implement a program that counts the number of unique words in a list of sentences.

In [7]:
def count_words(lst):
    
    l = []
    
    for sent in lst :
        for word in sent.split(' ') :
            if word not in l :
                l.append(word)
                
    return len(l),l

sentences = [
    "Define a function that takes two inputs and returns their sum.",
    "Use a for loop to iterate through the list and print each item.",
    "Write an if statement to check if the number is even or odd.",
    "Use a try-except block to handle potential errors in the code.",
    "Implement a recursive function to calculate the factorial of a number.",
    "Declare a variable to store the user’s input from the console.",
    "Append the new element to the end of the array.",
    "Extract a substring from the given string using slicing.",
    "Create a class with an __init__ method and define some attributes.",
    "Open a file in write mode, write data to it, and close the file afterward."
]

count_words(sentences)

(79,
 ['Define',
  'a',
  'function',
  'that',
  'takes',
  'two',
  'inputs',
  'and',
  'returns',
  'their',
  'sum.',
  'Use',
  'for',
  'loop',
  'to',
  'iterate',
  'through',
  'the',
  'list',
  'print',
  'each',
  'item.',
  'Write',
  'an',
  'if',
  'statement',
  'check',
  'number',
  'is',
  'even',
  'or',
  'odd.',
  'try-except',
  'block',
  'handle',
  'potential',
  'errors',
  'in',
  'code.',
  'Implement',
  'recursive',
  'calculate',
  'factorial',
  'of',
  'number.',
  'Declare',
  'variable',
  'store',
  'user’s',
  'input',
  'from',
  'console.',
  'Append',
  'new',
  'element',
  'end',
  'array.',
  'Extract',
  'substring',
  'given',
  'string',
  'using',
  'slicing.',
  'Create',
  'class',
  'with',
  '__init__',
  'method',
  'define',
  'some',
  'attributes.',
  'Open',
  'file',
  'write',
  'mode,',
  'data',
  'it,',
  'close',
  'afterward.'])

Write a function to sum all elements in a matrix (list of lists) using nested loops.

In [8]:
list_of_integers = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12],
    [13, 14, 15]
]

def sum_mat(lst):
    total_sum = 0
    
    for i in lst :
        total_sum += sum(i)
    return total_sum

sum_mat(list_of_integers)

120

Create a program that generates all possible pairs of elements from two lists.

In [11]:
def pairs(l1,l2):
    l = []
    
    for i in l1 :
        for j in l2 :
            if (i,j) not in l and (j,i) not in l :
                l.append((i,j))
    return l 

l1 = [1,2,3]
l2 = [2,5,6]

pairs(l1,l2)

[(1, 2), (1, 5), (1, 6), (2, 2), (2, 5), (2, 6), (3, 2), (3, 5), (3, 6)]

# Combined Concepts

Write a function to remove all occurrences of a specific substring from a list of strings.

In [2]:
def rem_str(lst,sub):
    
    l = []
    
    for i in lst :
        new_str = i.replace(sub,'')
        l.append(new_str)
    return l

lst = ["hello world", "world of Python", "welcome to the new world"]

rem_str(lst,'world')

['hello ', ' of Python', 'welcome to the new ']

Create a Python program that returns the largest palindrome in a list of strings.

In [7]:
lst = ["radar", "level", "hello", "world", "civic", "noon", "racecar"]

def largest_pal(lst):
    max_length = 0
    longest = ''
    for i in lst :
        if i == i[::-1] and len(i) > max_length :
            max_length = len(i)
            longest = i
    return longest , max_length

largest_pal(lst)

('racecar', 7)

Implement a function to find the intersection of multiple lists.

In [10]:
def inter(l1,l2,l3):
    l = []
    
    for i in l1:
        if i in l2 and  i in l3 :
            l.append(i)
    return l

l1 = [1,2]
l2 = [2,3,4]
l3 = [2,3,5]

inter(l1,l2,l3)

[2]

Write a Python program that checks if a given list is a rotation of another list.

In [14]:
l1 = [1,2,3]
l2 = [3,1,2]
l3 = [2,3,5]

def rotation(l1,l2):
    
    if len(l1) != len(l2) :
        return False
    
    concatenate = l1 + l1 
    
    for i in l1 :
        if concatenate[i:i+len(l2)] == l2 :
            return True
    return False

rotation(l1,l2)

True

Create a function to find the longest sequence of consecutive numbers in a list.

In [15]:
def longest_consecutive_sequence(nums):
    if not nums:
        return 0
    
    nums = set(nums)  # Use a set to remove duplicates and allow O(1) lookups
    longest_sequence = 0

    for num in nums:
        # Check if it's the start of a sequence
        if num - 1 not in nums:
            current_num = num
            current_sequence = 1

            # Check the next numbers in the sequence
            while current_num + 1 in nums:
                current_num += 1
                current_sequence += 1

            # Update the longest sequence found
            longest_sequence = max(longest_sequence, current_sequence)

    return longest_sequence

# Example usage
nums = [100, 4, 200, 1, 3, 2, 5, 101, 102, 103]
print(longest_consecutive_sequence(nums))  # Output: 5

5

Write a program to generate a list of Fibonacci numbers up to n using a loop.

In [17]:
def fib(n):
    
    a,b = 0,1
    l = []
    
    while b <= n :
        
        a,b = b,a+b
        l.append(a)
        
    return l

fib(10)

[1, 1, 2, 3, 5, 8]

Create a function to find the median of a list of numbers using sorting.

In [18]:
def med(lst):
    
    length = len(lst)
    
    if length % 2 != 0 :
        return lst[length//2]
    
    else :
        
        mid1 = length//2 + 1
        mid2 = length//2
        
        return (mid1 + mid2)/2

l1 = [1,2,3]
l2 = [1,2,3,4]

print(med(l1))
print(med(l2))

2
2.5

Implement a program to perform a linear search on an unsorted list.

In [19]:
def lin_search(lst,ele):
    
    for i in lst :
        if i == ele :
            return lst.index(i)
        
l = [1,2,3,4]

lin_search(l,3)

2

Write a function to calculate the product of all elements in a matrix.

In [23]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


def product(mat):
    
    pro = mat[0][0]
    
    for i in mat :
        for j in i :
            pro *= j
    return pro

product(matrix)

362880

Create a program to check if two lists have the same elements, regardless of order.

In [29]:
l1 = [1,2,3]
l2 = [3,2,1]
l3 = [2,3,1]
l4 = [2,3,4]
def same_ele(l1,l2):
    l = []
    for i in l1 :
        if i in l2 :
            l.append(i)
    if sorted(l) == sorted(l1) and sorted(l) == sorted(l2):
        return True
    return False

same_ele(l2,l3)

True

Write a function to find the longest increasing subsequence in a list of integers.

In [1]:
def longest_increasing_subsequence(nums):
    if not nums:
        return []
    
    # Initialize a list to store the length of the LIS ending at each index
    dp = [1] * len(nums)
    # Initialize a list to store the previous index of elements in the LIS
    prev = [-1] * len(nums)
    
    # Loop through the list and fill dp and prev arrays
    for i in range(1, len(nums)):
        for j in range(i):
            if nums[i] > nums[j] and dp[i] < dp[j] + 1:
                dp[i] = dp[j] + 1
                prev[i] = j

    # Find the index of the maximum value in dp (the end of the longest subsequence)
    max_index = dp.index(max(dp))
    
    # Reconstruct the LIS by backtracking through the prev list
    lis = []
    while max_index != -1:
        lis.append(nums[max_index])
        max_index = prev[max_index]
    
    return lis[::-1]  # Reverse the list to get the LIS in correct order

# Example usage
nums = [10, 9, 2, 5, 3, 7, 101, 18]
print(longest_increasing_subsequence(nums))

[2, 5, 7, 101]

Create a function that generates all possible combinations of k elements from a list.

In [3]:
import itertools

def list_k(lst, k):
    # Use itertools.combinations to generate all combinations of k elements
    return list(itertools.combinations(lst, k))

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_k(l, 5))

[(1, 2, 3, 4, 5), (1, 2, 3, 4, 6), (1, 2, 3, 4, 7), (1, 2, 3, 4, 8), (1, 2, 3, 4, 9), (1, 2, 3, 4, 10), (1, 2, 3, 5, 6), (1, 2, 3, 5, 7), (1, 2, 3, 5, 8), (1, 2, 3, 5, 9), (1, 2, 3, 5, 10), (1, 2, 3, 6, 7), (1, 2, 3, 6, 8), (1, 2, 3, 6, 9), (1, 2, 3, 6, 10), (1, 2, 3, 7, 8), (1, 2, 3, 7, 9), (1, 2, 3, 7, 10), (1, 2, 3, 8, 9), (1, 2, 3, 8, 10), (1, 2, 3, 9, 10), (1, 2, 4, 5, 6), (1, 2, 4, 5, 7), (1, 2, 4, 5, 8), (1, 2, 4, 5, 9), (1, 2, 4, 5, 10), (1, 2, 4, 6, 7), (1, 2, 4, 6, 8), (1, 2, 4, 6, 9), (1, 2, 4, 6, 10), (1, 2, 4, 7, 8), (1, 2, 4, 7, 9), (1, 2, 4, 7, 10), (1, 2, 4, 8, 9), (1, 2, 4, 8, 10), (1, 2, 4, 9, 10), (1, 2, 5, 6, 7), (1, 2, 5, 6, 8), (1, 2, 5, 6, 9), (1, 2, 5, 6, 10), (1, 2, 5, 7, 8), (1, 2, 5, 7, 9), (1, 2, 5, 7, 10), (1, 2, 5, 8, 9), (1, 2, 5, 8, 10), (1, 2, 5, 9, 10), (1, 2, 6, 7, 8), (1, 2, 6, 7, 9), (1, 2, 6, 7, 10), (1, 2, 6, 8, 9), (1, 2, 6, 8, 10), (1, 2, 6, 9, 10), (1, 2, 7, 8, 9), (1, 2, 7, 8, 10), (1, 2, 7, 9, 10), (1, 2, 8, 9, 10), (1, 3, 4, 5, 6), (1, 3, 4, 5, 7), (1, 3, 4, 5, 8), (1, 3, 4, 5, 9), (1, 3, 4, 5, 10), (1, 3, 4, 6, 7), (1, 3, 4, 6, 8), (1, 3, 4, 6, 9), (1, 3, 4, 6, 10), (1, 3, 4, 7, 8), (1, 3, 4, 7, 9), (1, 3, 4, 7, 10), (1, 3, 4, 8, 9), (1, 3, 4, 8, 10), (1, 3, 4, 9, 10), (1, 3, 5, 6, 7), (1, 3, 5, 6, 8), (1, 3, 5, 6, 9), (1, 3, 5, 6, 10), (1, 3, 5, 7, 8), (1, 3, 5, 7, 9), (1, 3, 5, 7, 10), (1, 3, 5, 8, 9), (1, 3, 5, 8, 10), (1, 3, 5, 9, 10), (1, 3, 6, 7, 8), (1, 3, 6, 7, 9), (1, 3, 6, 7, 10), (1, 3, 6, 8, 9), (1, 3, 6, 8, 10), (1, 3, 6, 9, 10), (1, 3, 7, 8, 9), (1, 3, 7, 8, 10), (1, 3, 7, 9, 10), (1, 3, 8, 9, 10), (1, 4, 5, 6, 7), (1, 4, 5, 6, 8), (1, 4, 5, 6, 9), (1, 4, 5, 6, 10), (1, 4, 5, 7, 8), (1, 4, 5, 7, 9), (1, 4, 5, 7, 10), (1, 4, 5, 8, 9), (1, 4, 5, 8, 10), (1, 4, 5, 9, 10), (1, 4, 6, 7, 8), (1, 4, 6, 7, 9), (1, 4, 6, 7, 10), (1, 4, 6, 8, 9), (1, 4, 6, 8, 10), (1, 4, 6, 9, 10), (1, 4, 7, 8, 9), (1, 4, 7, 8, 10), (1, 4, 7, 9, 10), (1, 4, 8, 9, 10), (1, 5, 6, 7, 8), (1, 5, 6, 7, 9), (1, 5, 6, 7, 10), (1, 5, 6, 8, 9), (1, 5, 6, 8, 10), (1, 5, 6, 9, 10), (1, 5, 7, 8, 9), (1, 5, 7, 8, 10), (1, 5, 7, 9, 10), (1, 5, 8, 9, 10), (1, 6, 7, 8, 9), (1, 6, 7, 8, 10), (1, 6, 7, 9, 10), (1, 6, 8, 9, 10), (1, 7, 8, 9, 10), (2, 3, 4, 5, 6), (2, 3, 4, 5, 7), (2, 3, 4, 5, 8), (2, 3, 4, 5, 9), (2, 3, 4, 5, 10), (2, 3, 4, 6, 7), (2, 3, 4, 6, 8), (2, 3, 4, 6, 9), (2, 3, 4, 6, 10), (2, 3, 4, 7, 8), (2, 3, 4, 7, 9), (2, 3, 4, 7, 10), (2, 3, 4, 8, 9), (2, 3, 4, 8, 10), (2, 3, 4, 9, 10), (2, 3, 5, 6, 7), (2, 3, 5, 6, 8), (2, 3, 5, 6, 9), (2, 3, 5, 6, 10), (2, 3, 5, 7, 8), (2, 3, 5, 7, 9), (2, 3, 5, 7, 10), (2, 3, 5, 8, 9), (2, 3, 5, 8, 10), (2, 3, 5, 9, 10), (2, 3, 6, 7, 8), (2, 3, 6, 7, 9), (2, 3, 6, 7, 10), (2, 3, 6, 8, 9), (2, 3, 6, 8, 10), (2, 3, 6, 9, 10), (2, 3, 7, 8, 9), (2, 3, 7, 8, 10), (2, 3, 7, 9, 10), (2, 3, 8, 9, 10), (2, 4, 5, 6, 7), (2, 4, 5, 6, 8), (2, 4, 5, 6, 9), (2, 4, 5, 6, 10), (2, 4, 5, 7, 8), (2, 4, 5, 7, 9), (2, 4, 5, 7, 10), (2, 4, 5, 8, 9), (2, 4, 5, 8, 10), (2, 4, 5, 9, 10), (2, 4, 6, 7, 8), (2, 4, 6, 7, 9), (2, 4, 6, 7, 10), (2, 4, 6, 8, 9), (2, 4, 6, 8, 10), (2, 4, 6, 9, 10), (2, 4, 7, 8, 9), (2, 4, 7, 8, 10), (2, 4, 7, 9, 10), (2, 4, 8, 9, 10), (2, 5, 6, 7, 8), (2, 5, 6, 7, 9), (2, 5, 6, 7, 10), (2, 5, 6, 8, 9), (2, 5, 6, 8, 10), (2, 5, 6, 9, 10), (2, 5, 7, 8, 9), (2, 5, 7, 8, 10), (2, 5, 7, 9, 10), (2, 5, 8, 9, 10), (2, 6, 7, 8, 9), (2, 6, 7, 8, 10), (2, 6, 7, 9, 10), (2, 6, 8, 9, 10), (2, 7, 8, 9, 10), (3, 4, 5, 6, 7), (3, 4, 5, 6, 8), (3, 4, 5, 6, 9), (3, 4, 5, 6, 10), (3, 4, 5, 7, 8), (3, 4, 5, 7, 9), (3, 4, 5, 7, 10), (3, 4, 5, 8, 9), (3, 4, 5, 8, 10), (3, 4, 5, 9, 10), (3, 4, 6, 7, 8), (3, 4, 6, 7, 9), (3, 4, 6, 7, 10), (3, 4, 6, 8, 9), (3, 4, 6, 8, 10), (3, 4, 6, 9, 10), (3, 4, 7, 8, 9), (3, 4, 7, 8, 10), (3, 4, 7, 9, 10), (3, 4, 8, 9, 10), (3, 5, 6, 7, 8), (3, 5, 6, 7, 9), (3, 5, 6, 7, 10), (3, 5, 6, 8, 9), (3, 5, 6, 8, 10), (3, 5, 6, 9, 10), (3, 5, 7, 8, 9), (3, 5, 7, 8, 10), (3, 5, 7, 9, 10), (3, 5, 8, 9, 10), (3, 6, 7, 8, 9), (3, 6, 7, 8, 10), (3, 6, 7, 9, 10), (3, 6, 8, 9, 10), (3, 7, 8, 9, 10), (4, 5, 6, 7, 8), (4, 5, 6, 7, 9), (4, 5, 6, 7, 10), (4, 5, 6, 8, 9), (4, 5, 6, 8, 10), (4, 5, 6, 9, 10), (4, 5, 7, 8, 9), (4, 5, 7, 8, 10), (4, 5, 7, 9, 10), (4, 5, 8, 9, 10), (4, 6, 7, 8, 9), (4, 6, 7, 8, 10), (4, 6, 7, 9, 10), (4, 6, 8, 9, 10), (4, 7, 8, 9, 10), (5, 6, 7, 8, 9), (5, 6, 7, 8, 10), (5, 6, 7, 9, 10), (5, 6, 8, 9, 10), (5, 7, 8, 9, 10), (6, 7, 8, 9, 10)]

# List Comprehension

Create a list of squares for numbers between 1 and 20.

In [4]:
[x ** 2 for x in range (21)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

Generate a list of even numbers from 1 to 100.

In [5]:
[x for x in range (100) if x % 2 == 0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

Construct a list of tuples (x, x^2) for numbers between 1 and 10.

In [7]:
[(x,x**2) for x in range(21)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196),
 (15, 225),
 (16, 256),
 (17, 289),
 (18, 324),
 (19, 361),
 (20, 400)]

Filter out the numbers divisible by both 3 and 5 from a range of 1 to 100.

In [1]:
[x for x in range(101) if not ( x % 3 == 0 and x % 5 ==0 )]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

Create a matrix (2D list) of size 3x3 with numbers from 1 to 9.

In [3]:
matrix = [[i + j * 3 + 1 for i in range(3)] for j in range(3)]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Generate a list of the first 10 Fibonacci numbers using list comprehension.

In [ ]:
def fibonacci(n):
    return [0, 1] + [sum(x) for x in zip(fibonacci(n-1)[-2:], fibonacci(n-1)[-2:])]

# Generate the first 10 Fibonacci numbers
fib_list = fibonacci(10)[:10]
fib_list

Convert a list of lowercase strings to uppercase.

In [1]:
lst = ['abc','def','ghi']

result = [x.upper() for x in lst]
result

['ABC', 'DEF', 'GHI']

Generate a list of prime numbers between 1 and 100 using list comprehension.

In [3]:
[x for x in range (101) if all(x%i != 0 for i in range (2,int(x**0.5)+1))]

[0,
 1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

Build a list of numbers divisible by 7 or 11 from 1 to 100.

In [5]:
[x for x in range (101) if x%7 ==0 or x%11 ==0]

[0,
 7,
 11,
 14,
 21,
 22,
 28,
 33,
 35,
 42,
 44,
 49,
 55,
 56,
 63,
 66,
 70,
 77,
 84,
 88,
 91,
 98,
 99]

Flatten a 2D list into a 1D list using list comprehension.

In [9]:
l = [[1,2],[3,4]]

[x for row in l for x in row ]

[1, 2, 3, 4]

Create a list of all odd numbers from a range but in reverse order.

In [13]:
n = int(input())

[x for x in range(n) if x % 2 != 0][::-1]

50

[49,
 47,
 45,
 43,
 41,
 39,
 37,
 35,
 33,
 31,
 29,
 27,
 25,
 23,
 21,
 19,
 17,
 15,
 13,
 11,
 9,
 7,
 5,
 3,
 1]

Generate a list of numbers which are cubes of numbers between 1 and 10.

In [14]:
[x ** 3 for x in range (1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Create a list of palindromes between 1 and 1000.

In [18]:
[x for x in range(100) if str(x) == str(x)[::-1] and len(str(x)) > 1]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

Remove all vowels from a given string using list comprehension.

In [29]:
string = 'aeioudfdv'

''.join([x for x in string if x not in ['a','e','i','o','u','A','E','I','O','U']])

'dfdv'

Create a list of numbers where the number is the square of its index in the list.

In [30]:
[x **2 for x in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Build a list of tuples showing the character and its ASCII value for all lowercase letters.

In [32]:
s = 'ABabcdCD'

[(x,ord(x)) for x in s if x.islower()]

[('a', 97), ('b', 98), ('c', 99), ('d', 100)]

Generate a list of words from a string that start with a vowel.

In [35]:
sample_string = "An elephant is an interesting animal that enjoys eating apples and oranges."

vowels = 'aeiouAEIOU'

[x for x in sample_string.split() if x[0] in vowels]

['An',
 'elephant',
 'is',
 'an',
 'interesting',
 'animal',
 'enjoys',
 'eating',
 'apples',
 'and',
 'oranges.']

Create a 5x5 matrix using list comprehension where each element is the sum of its row and column indices.

In [36]:
[[i+j for j in range(5)] for i in range(5)]

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8]]

Generate a list of perfect squares that are less than 500.

In [41]:
[x for x in range(501) if int(x ** 0.5) ** 2 == x]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484]

Create a list of common divisors of two numbers.

In [45]:
a = 15
b =21

[x for x in range(1,min(a,b)+1) if a % x == 0 and b % x == 0]

[1, 3]

Remove duplicates from a list while preserving the order.

In [1]:
l =[1,2,2,6,6,4,3,5,5]
l1 = []
[l1.append(x) for x in l if x not in l1]
print(l1)

[1, 2, 6, 4, 3, 5]

Create a list of the first 10 factorial numbers.

In [4]:
import math

factorials = [math.factorial(i) for i in range(10)]

print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Generate a list of binary numbers (as strings) for numbers from 1 to 16.

In [5]:
[bin(x) for x in range(1,11)]

['0b1',
 '0b10',
 '0b11',
 '0b100',
 '0b101',
 '0b110',
 '0b111',
 '0b1000',
 '0b1001',
 '0b1010']

Filter a list of numbers to only keep the numbers that are prime.

In [8]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

prime_numbers = [num for num in numbers if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11]

Create a list of numbers that are the sum of their digits raised to a power (e.g., 153 = 1^3 + 5^3 + 3^3).

In [10]:
def is_armstrong(number):
    # Convert the number to a string to iterate over digits
    digits = [int(d) for d in str(number)]
    # Calculate the number of digits
    num_digits = len(digits)
    # Calculate the sum of each digit raised to the power of num_digits
    sum_of_powers = sum(d ** num_digits for d in digits)
    # Check if the sum is equal to the original number
    return sum_of_powers == number
# Define a range to check for Armstrong numbers
max_limit = 10000
armstrong_numbers = [num for num in range(max_limit) if is_armstrong(num)]

print(armstrong_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

Find the intersection of two lists using list comprehension.

In [13]:
l =[1,2,3]
l1 = [2,3,5]

[x for x in l if x in l1]

[2, 3]

Generate a list of multiples of 5 from a given range.

In [14]:
s = 10
e = 100

[x for x in range(s,e) if x % 5 == 0]

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

Reverse the words in a sentence using list comprehension.

In [15]:
s = 'you are a lier'

[x[::-1] for x in s.split()]

['uoy', 'era', 'a', 'reil']

Build a list of words longer than 5 characters from a given sentence.

In [16]:
s = "The quick brown fox jumps over the lazy dog and enjoys the beautiful scenery."

[x for x in s.split() if len(x) >5]

['enjoys', 'beautiful', 'scenery.']

Create a list of numbers where each number is squared if it's even and cubed if it's odd.

In [22]:
[x**2 if x%2 == 0 else x**3 for x in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

Generate a list of prime factors for a given number.

In [23]:
def prime_factors(n):
    factors = []
    # Check for the number of 2s that divide n
    while n % 2 == 0:
        factors.append(2)
        n //= 2
    # n must be odd at this point, so skip even numbers
    for i in range(3, int(n**0.5) + 1, 2):
        # While i divides n, append i and divide n
        while n % i == 0:
            factors.append(i)
            n //= i
    # This condition is to check if n is a prime number greater than 2
    if n > 2:
        factors.append(n)
    return factors

# Example usage
number = 60
result = prime_factors(number)
print(result)

[2, 2, 3, 5]

Create a list of elements from two lists that are at the same index and both even.

In [24]:
l = [1,2,3,4]
l1 = [5,6,7,8]

[(i,j) for i,j in zip(l,l1) if i%2 ==0 and j%2 == 0]

[(2, 6), (4, 8)]

Create a list of numbers from 1 to 100, replacing multiples of 3 with "Fizz" and multiples of 5 with "Buzz".

In [26]:
['FizzBuzz' if x % 3 == 0 and x % 5 == 0 else 'Fizz' if x % 3 == 0 else 'Buzz' if x % 5 == 0 else x for x in range(1, 101)]

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'FizzBuzz',
 31,
 32,
 'Fizz',
 34,
 'Buzz',
 'Fizz',
 37,
 38,
 'Fizz',
 'Buzz',
 41,
 'Fizz',
 43,
 44,
 'FizzBuzz',
 46,
 47,
 'Fizz',
 49,
 'Buzz',
 'Fizz',
 52,
 53,
 'Fizz',
 'Buzz',
 56,
 'Fizz',
 58,
 59,
 'FizzBuzz',
 61,
 62,
 'Fizz',
 64,
 'Buzz',
 'Fizz',
 67,
 68,
 'Fizz',
 'Buzz',
 71,
 'Fizz',
 73,
 74,
 'FizzBuzz',
 76,
 77,
 'Fizz',
 79,
 'Buzz',
 'Fizz',
 82,
 83,
 'Fizz',
 'Buzz',
 86,
 'Fizz',
 88,
 89,
 'FizzBuzz',
 91,
 92,
 'Fizz',
 94,
 'Buzz',
 'Fizz',
 97,
 98,
 'Fizz',
 'Buzz']

Generate a list of characters from a string that occur more than once.

In [27]:
s = 'Programming'

[x for x in set(s) if s.count(x) > 1]

['r', 'm', 'g']

Create a list of words that contain more than one vowel.

In [36]:
string = "Education is essential for everyone to grow and succeed"
vowels = 'aeiouAEIOU'
[x for x in string.split() if sum(1 for i in x if i in vowels) >1 ]

['Education', 'essential', 'everyone', 'succeed']

Generate a list of common characters in two strings.

In [38]:
s1 = 'fjsljgaoljgolj'
s2 = 'olfgsjogjoj'
l=[]
[l.append(x) for x in s1 if x in s2 and x not in l]
print(l)

['f', 'j', 's', 'l', 'g', 'o']

Create a list of numbers that are both perfect squares and perfect cubes.

In [43]:
[x**6 for x in range(1, int(100**(1/6)) + 1)]

[1, 64]

Filter a list of dictionaries to keep only the ones with a specific key-value pair.

In [44]:
def filter_dicts(lst, key, value):
    return [d for d in lst if d.get(key) == value]

# Example usage
data = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 25},
    {"name": "David", "age": 35}
]

result = filter_dicts(data, "age", 25)
print(result)

[{'name': 'Alice', 'age': 25}, {'name': 'Charlie', 'age': 25}]

Create a list of even-indexed elements from a given list.

In [48]:
l = [1,2,3,4,5,6]

[value for index , value in enumerate(l) if index % 2 == 0]

[1, 3, 5]

Generate a list of words in reverse alphabetical order from a sentence.

In [49]:
s = 'The quick brown fox jumps over the lazy dog'

[x[::-1] for x in s.split()]

['ehT', 'kciuq', 'nworb', 'xof', 'spmuj', 'revo', 'eht', 'yzal', 'god']

# Map

Use map to convert a list of strings to integers.

In [50]:
string_list = ['1', '2', '3', '4', '5']

list(map(int,string_list))

[1, 2, 3, 4, 5]

Apply map to a list of words and return their lengths.

In [52]:
lst = ['the','word','cannot']

list(map(len,lst))

[3, 4, 6]

Use map to square all elements in a list.

In [54]:
l = [2,3,4,5]

list(map(lambda x : x**2  , l))

[4, 9, 16, 25]

Apply map to capitalize each word in a list of strings.

In [3]:
s = ['the','givemn','shgih']

list(map(str.capitalize,s))

['The', 'Givemn', 'Shgih']

Use map to convert a list of Fahrenheit temperatures to Celsius.

In [4]:
l = [100,101,102,103]

list(map(lambda x : (5/9)*(x-32),l))

[37.77777777777778, 38.333333333333336, 38.88888888888889, 39.44444444444444]

Apply map to add two lists element-wise.

In [5]:
l = [1,2,3]
ll = [1,2,3]

list(map(lambda x,y : x+y , l,ll))

[2, 4, 6]

Use map to calculate the factorial of each number in a list.

In [7]:
import math

l = [1,2,3,4,5]

list(map(math.factorial,l))

[1, 2, 6, 24, 120]

Apply map to find the maximum of corresponding elements from two lists.

In [9]:
l = [1,2,3]
ll = [4,1,6]

list(map(lambda x,y : x if x> y else y , l,ll))

[4, 2, 6]

Use map to convert a list of numbers into their binary representation.

In [10]:
l = [1,2,3]

list(map(bin,l))

['0b1', '0b10', '0b11']

Apply map to cube every element in a list.

In [11]:
l = [1,2,3,4,5,6,7,8,9]

list(map(lambda x : x**3 , l))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

Use map to filter out the even numbers (combined with filter).

In [17]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_doubled = list(map(lambda x: x * 2, filter(lambda x: x % 2 == 0, numbers)))

print(even_doubled)

[4, 8, 12, 16, 20]

Apply map to double each number in a list.

In [18]:
l = [1,2,3,4,5,6,7,8,9]

list(map(lambda x : x*2 , l))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Use map to extract the first letter of each word in a list.

In [19]:
l = ['the','you','love']

list(map(lambda x : x[0],l))

['t', 'y', 'l']

Apply map to find the absolute value of each element in a list.

In [20]:
l = [1,2,-3,4,-5,6,-7,8,9]

list(map(abs,l))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Use map to calculate the square root of each number in a list.

In [22]:
l = [1,2,3,4,5,6,7,8,9]

list(map(lambda x : x**0.5,l))

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

Apply map to return the sum of digits for each number in a list.

In [25]:
numbers = [123, 456, 789]

def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

sum_digits_list = list(map(sum_of_digits, numbers))

print(sum_digits_list)

[6, 15, 24]

Use map to multiply all elements by a constant factor.

In [26]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list(map(lambda x : x*7,l))

[7, 14, 21, 28, 35, 42, 49, 56, 63]

Apply map to extract the domain names from a list of email addresses.

In [27]:
emails = ['user1@example.com', 'user2@test.com', 'user3@domain.org']

domains = list(map(lambda email: email.split('@')[1], emails))

print(domains)

['example.com', 'test.com', 'domain.org']

Use map to reverse each string in a list.

In [28]:
emails = ['user1@example.com', 'user2@test.com', 'user3@domain.org']

list(map(lambda x : x[::-1],emails))

['moc.elpmaxe@1resu', 'moc.tset@2resu', 'gro.niamod@3resu']

Apply map to increment each value in a dictionary by 1.

In [32]:
original_dict = {'a': 1, 'b': 2, 'c': 3}

incremented_dict = {key: value + 1 for key, value in original_dict.items()}

print(incremented_dict)

{'a': 2, 'b': 3, 'c': 4}

# Filter:

Use filter to keep only even numbers from a list.

In [33]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list(filter(lambda x : x%2 ==0 , l))

[2, 4, 6, 8]

Apply filter to keep only words longer than 4 characters.

In [34]:
l = ['the','your','jkfghaskjgh','hfgisga']

list(filter(lambda x : len(x) > 4 , l))

['jkfghaskjgh', 'hfgisga']

Use filter to extract only prime numbers from a list.

In [40]:
def isprime(x):
    if x == 0 and x == 1:
        return True 
    
    for i in range(2,int(x**0.5)+1):
        if x % i ==0 :
            return False
    return True

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list(filter(isprime,l))

[1, 2, 3, 5, 7]

Apply filter to keep only strings that start with a vowel.

In [41]:
l = ['ahe','your','jkfghaskjgh','hfgisga']

vowels = 'aeiouAEIOU'

list(filter(lambda x : x[0] in vowels , l))

['ahe']

Use filter to keep numbers that are divisible by 3 but not 5.

In [43]:
l = [1,2,15,3,4,5,6,7,8,9,78,64,33,356,654,74,4,74,7,365,324]

list(filter(lambda x : x % 3 == 0 and x % 5 != 0 , l))

[3, 6, 9, 78, 33, 654, 324]

Apply filter to remove negative numbers from a list.

In [44]:
l = [1,-2,3,4,-5]

list(filter(lambda x : x > 0 ,l))

[1, 3, 4]

Use filter to retain numbers that are perfect squares.

In [46]:
import math

l = [1,2,3,4,9,16]

list(filter(lambda x : math.isqrt(x)** 2 == x , l ))

[1, 4, 9, 16]

Apply filter to keep only palindromic strings.

In [2]:
strings = ["radar", "hello", "level", "world", "madam", "python", "civic", "java"]

list(filter(lambda x : x == x[::-1],strings))

['radar', 'level', 'madam', 'civic']

Use filter to select all keys in a dictionary that have a value greater than 10.

In [11]:
data = {
    'a': 5,
    'b': 15,
    'c': 20,
    'd': 8,
    'e': 12,
    'f': 7
}

def has_value_greater_than_10(item):
    key, value = item
    return value > 10

keys_with_values_greater_than_10 = list(filter(lambda item: has_value_greater_than_10(item), data.items()))

keys = [key for key, value in keys_with_values_greater_than_10]

print(keys)

['b', 'c', 'e']

Apply filter to keep only even-indexed elements from a list.

In [12]:
l = [1,2,3,4,54]

list(filter(lambda x : l.index(x) % 2 == 0 ,l))

[1, 3, 54]

Use filter to keep only strings that are longer than the average string length.

In [14]:
strings = ["radar", "helloo", "leveol", "world", "madamo", "python", "coivic", "jaoova"]

avg_len = len(''.join(strings))/len(strings)

list(filter(lambda x : len(x) > avg_len,strings))

['helloo', 'leveol', 'madamo', 'python', 'coivic', 'jaoova']

Apply filter to select only prime factors of a number.

In [15]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def prime_factors(number):
    # Find all factors of the number
    factors = [i for i in range(2, number + 1) if number % i == 0]

    prime_factors = list(filter(is_prime, factors))
    
    return prime_factors

number = 56
result = prime_factors(number)
print(f"Prime factors of {number}: {result}")

Prime factors of 56: [2, 7]

Use filter to retain numbers with more than two divisors.

In [18]:
# Helper function to count divisors of a number
def count_divisors(n):
    divisors = [i for i in range(1, n + 1) if n % i == 0]
    return len(divisors)

# Function to check if a number has more than two divisors
def has_more_than_two_divisors(n):
    return count_divisors(n) > 2

# Example list of numbers
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter to retain numbers with more than two divisors
composite_numbers = list(filter(has_more_than_two_divisors, numbers))

print(f"Numbers with more than two divisors: {composite_numbers}")

Numbers with more than two divisors: [4, 6, 8, 9, 10]

Apply filter to keep only numbers with distinct digits.

In [21]:
def distinct_dig(n):
    return len(set(str(n))) == len(str(n))

numbers = [123, 112, 456, 787, 890, 121, 987]

list(filter(distinct_dig,numbers))

[123, 456, 890, 987]

Use filter to retain only words that contain at least two vowels.

In [23]:
def two_vowels(word):
    vowels = 'aeiouAEIOU'
    
    v_count = sum(1 for char in word if char in vowels)
    return v_count >= 2

words = ["apple", "tree", "sky", "elephant", "sun", "book"]

list(filter(two_vowels,words))

['apple', 'tree', 'elephant', 'book']

Apply filter to keep all multiples of 7 in a range.

In [26]:
# Function to check if a number is a multiple of 7
def is_multiple_of_7(n):
    return n % 7 == 0

# Define the range
num_range = range(1, 101)

# Use filter to retain numbers that are multiples of 7
multiples_of_7 = list(filter(is_multiple_of_7, num_range))

print(f"Multiples of 7 in the range: {multiples_of_7}")

Multiples of 7 in the range: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

Use filter to select numbers that are the sum of their digits squared.

In [30]:
def dig_sq(n):
    
    num = str(n)
    sum_n = 0
    for i in num :
        
        sum_n += int(i) **2
    
    return sum_n == n

l = [1, 10, 13, 25, 58, 85, 91, 145, 130, 89]


list(filter(dig_sq,l))

[1]

Apply filter to keep strings with at least one capital letter.

In [33]:
def capital(s):
    
    for i in s :
        if i.isupper():
            return True
        
l = ['abcD','khfgask','fgDdfg']

list(filter(capital,l))

['abcD', 'fgDdfg']

Use filter to retain numbers that are both positive and even.

In [34]:
l = [1,-2,3,4,5,6,7,-8]

list(filter(lambda x : x%2==0 and x>0,l))

[4, 6]

Apply filter to keep only dictionary entries where the values are strings.

In [37]:
data = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York',
    'is_student': False,
    'occupation': 'Engineer',
    'height': 5.6
}

def value_str(key):
    return isinstance(data[key], str)

result = list(filter(value_str, data))
print(result)

['name', 'city', 'occupation']

# Lambda Function

Write a lambda function to add two numbers.

In [38]:
[lambda x,y:x+y]

Use a lambda function to check if a number is odd.

In [41]:
l = [1,2,3,4]

list(filter(lambda x : x%2!=0 ,l))

[1, 3]

Write a lambda function to find the greater of two numbers.

In [47]:
greater = lambda x,y : x if x>y else y

greater(11,9)

11

Use a lambda function to check if a string is a palindrome.

In [49]:
is_palindrome = lambda s: s == s[::-1]

Write a lambda function to cube a number.

In [50]:
cube = lambda x : x**3

Use a lambda function to filter out non-alphabetic characters from a string.

In [2]:
not_alpha = lambda x : ''.join(filter(lambda x : x.isalpha(),s))

s = '12gsdfg'

not_alpha(s)

'gsdfg'

Write a lambda function to calculate the length of a string.

In [3]:
length_str = lambda x : len(x)

length_str('abc')

3

Use a lambda function to reverse the order of words in a sentence.

In [6]:
rev_words = lambda x : ' '.join(x.split()[::-1])

sentence = "The quick brown fox"

rev_words(sentence)

'fox brown quick The'

Write a lambda function to find the product of two numbers.

In [7]:
pro = lambda x,y : x*y

pro(2,3)

6

Use a lambda function to check if a number is divisible by 4.

In [10]:
dev_4 = lambda x : x%4 == 0

dev_4(16)

True

Write a lambda function to find the square of a number.

In [11]:
sq = lambda x : x**2

sq(9)

81

Use a lambda function to filter out words that contain 'a' from a list.

In [12]:
filter_words = lambda words: list(filter(lambda word: 'a' not in word, words))

words = ["apple", "banana", "cherry", "date", "fig", "grape"]
filtered_words = filter_words(words)
print(filtered_words)

['cherry', 'fig']

Write a lambda function to extract the last character of a string.

In [13]:
last = lambda x : x[-1]

last('abc')

'c'

Use a lambda function to sum up the digits of a number.

In [14]:
sum_digits = lambda n: sum(int(digit) for digit in str(n))

Write a lambda function to find the maximum of three numbers.

In [15]:
max_3 = lambda x,y,z : max(x,y,z)

max_3(1,2,3)

3

Use a lambda function to multiply all elements in a list by 2.

In [19]:
double = lambda x : list(map(lambda n : n*2 ,x))

l = [1,2,3]

double(l)

[2, 4, 6]

Write a lambda function to check if a string has all unique characters.

In [21]:
uni = lambda s : len(s) == len(set(s))

uni('abcc')

False

Use a lambda function to convert a list of strings to uppercase.

In [24]:
uppercase = lambda x : list(map(lambda n : n.upper(),x))

l = ['afa','fas','asdfa']

uppercase(l)

['AFA', 'FAS', 'ASDFA']

Write a lambda function to check if a number is a perfect square.

In [26]:
perfect_sq = lambda x : int(x ** 0.5) ** 2 == x

perfect_sq(8)

False

Use a lambda function to sort a list of tuples by the second element.

In [29]:
sort_t = lambda x : sorted(x,key = lambda x : x[1])
sort_t([(1,2,3),(2,3,4),(9,1,4)])

[(9, 1, 4), (1, 2, 3), (2, 3, 4)]

# Reduce

Use reduce to find the product of all elements in a list.

In [30]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)

print(product)

120

Apply reduce to find the greatest common divisor (GCD) of a list of numbers.

In [2]:
from functools import reduce
from math import gcd

numbers = [48, 72, 120]

gcd_result = reduce(gcd, numbers)

print(gcd_result)

24

Use reduce to find the sum of all elements in a list.

In [4]:
l=[1,2,3]

sum_all = reduce(lambda x,y : x+y,l)
sum_all

6

Apply reduce to concatenate a list of strings into a single string.

In [5]:
words = "apple banana cherry date elderberry fig grape honeydew".split()

reduce(lambda x ,y : x+y , words)

'applebananacherrydateelderberryfiggrapehoneydew'

Use reduce to find the longest string in a list.

In [6]:
reduce(lambda x , y : x if len(x)>len(y) else y , words)

'elderberry'

Apply reduce to find the maximum value in a list.

In [7]:
l = [1,2,3,555,667776]

reduce(lambda x , y : x if x>y else y , l)

667776

Use reduce to compute the sum of squares of all elements in a list.

In [9]:
l = [1,2,3,4]

reduce(lambda x, y: x + y**2, l, 0)

30

Apply reduce to find the minimum value in a list.

In [10]:
reduce(lambda x,y : min(x,y),l)

1

Use reduce to calculate the factorial of a number (given as a list of numbers from 1 to n).

In [11]:
n = 5

numbers = list(range(1, n + 1))
factorial = reduce(lambda x, y: x * y, numbers)

print(factorial)

120

Apply reduce to find the cumulative sum of a list.

In [12]:
l = [1,2,3,4]

reduce(lambda x,y : x+y , l)

10

Use reduce to count the total number of characters in a list of strings.

In [5]:
from functools import reduce

strings = ['hello', 'world', 'python', 'reduce']

total_characters = reduce(lambda acc, s: acc + len(s), strings, 0)

print(total_characters)

22

Apply reduce to multiply all the elements in a list of lists, flattening them first.

In [6]:
from functools import reduce

# Define the list of lists
list_of_lists = [[1, 2], [3, 4], [5, 6]]

# Flatten the list of lists
flattened_list = [item for sublist in list_of_lists for item in sublist]

# Use reduce to multiply all elements in the flattened list
product = reduce(lambda x, y: x * y, flattened_list)

print(product)  # Output: 720

720

Use reduce to find the sum of the digits in a number represented as a list.

In [7]:
l = [2,3,4,5]

reduce(lambda x , y : x+y , l)

14

Apply reduce to return the greatest common divisor (GCD) of a list of numbers.

In [8]:
from functools import reduce
from math import gcd

numbers = [48, 180, 36]

gcd_result = reduce(gcd, numbers)

print(gcd_result)

12

Use reduce to find the difference between consecutive elements in a list.

In [9]:
from functools import reduce

numbers = [10, 20, 30, 40, 50]

differences = reduce(lambda acc, x: acc + [x - acc[-1]], numbers[1:], [numbers[0]])

print(differences)

[10, 10, 20, 20, 30]

Apply reduce to find the product of non-zero elements in a list.

In [10]:
numbers = [1, 2, 0, 4, 5, 0, 3]

reduce(lambda x, y: x * y, filter(lambda n: n != 0, numbers), 1)

120

Use reduce to calculate the sum of squares minus the sum of cubes for numbers in a list.

In [12]:
numbers = [1, 2, 3, 4, 5]
result = reduce(lambda acc, x: (acc[0] + x**2, acc[1] + x**3), numbers, (0, 0))
sum_squares_minus_sum_cubes = result[0] - result[1]
sum_squares_minus_sum_cubes

-170

Apply reduce to find the longest increasing subsequence in a list of numbers.

In [13]:
from functools import reduce

def longest_increasing_subsequence(lst):

    lis = reduce(lambda acc, x: acc + [x] if not acc or acc[-1] < x else acc, lst, [])
    return lis

numbers = [10, 9, 2, 5, 3, 7, 101, 18]
result = longest_increasing_subsequence(numbers)
print(result)

[10, 101]

Use reduce to calculate the average of a list of numbers.

In [14]:
from functools import reduce

def average(lst):

    total_sum = reduce(lambda x, y: x + y, lst)

    avg = total_sum / len(lst) if lst else 0
    return avg


numbers = [10, 20, 30, 40, 50]
result = average(numbers)
print(result)

30.0

Apply reduce to implement a custom power function for a list (e.g., [2, 3, 4] -> 2^3^4).

In [15]:
from functools import reduce

def custom_power(lst):

    def power(x, y):
        return x ** y

    return reduce(lambda x, y: power(y, x), reversed(lst))

numbers = [2, 3, 4]
result = custom_power(numbers)
print(result)

2417851639229258349412352