# PYTHON ARRAY

In [1]:
import array as arr
x = arr.array("i", [1,2,3])
print("FIRST ELEMENT " , x[0])
print("SECOND ELEMENT " , x[1])
print("THIRD ELEMENT " , x[2])

FIRST ELEMENT  1
SECOND ELEMENT  2
THIRD ELEMENT  3

In [14]:
for i in range(0,3) :
    print(x[i])

1
2
3

In [9]:
import array as arr
x = arr.array("d", [1,2,3])
print("FIRST ELEMENT " , x[0])
print("SECOND ELEMENT " , x[1])
print("THIRD ELEMENT " , x[2])

FIRST ELEMENT  1.0
SECOND ELEMENT  2.0
THIRD ELEMENT  3.0

#DATA TYPES

        ( i = integer )
        ( b = boolean )
        ( u = unsigned integer ) 
        ( f = float )
        (d = double )
        ( c = complex float )
        ( m = time delta )
        ( M = date time ) 
        ( O = object )
        ( S = string ) 
        ( U = unicode string )
        ( V = fixed chung of for other type)

# SLICING

In [19]:
import array as arr

y = arr.array("i",[1,2,3,4,5,6,7,8,9])

print(y[0:5])

y.pop(2)
print(y)

y[4] = 10
print(y)

y.reverse()
print(y)

array('i', [1, 2, 3, 4, 5])
array('i', [1, 2, 4, 5, 6, 7, 8, 9])
array('i', [1, 2, 4, 5, 10, 7, 8, 9])
array('i', [9, 8, 7, 10, 5, 4, 2, 1])

In [22]:
y = arr.array("i",[1,2,3,4,5,6,7,8,9])
for i in range ( 8,-1,-1) :
    print( y[i] )

9
8
7
6
5
4
3
2
1

In [24]:
"""1. Write a Python program to create an array of 5 integers and display the array items. Access individual elements through indexes. Go to the editor
Sample Output:
1
3
5
7
9
Access first three items individually
1
3
5
Click me to see the sample solution
"""

import array as arr
a=arr.array("i",[1,3,5,7,9])
print("elements",a[0:4],end=" ")
for i in range(0,4,1):
    print(a[i])

elements array('i', [1, 3, 5, 7]) 1
3
5
7

In [2]:
# 2. Write a Python program to append a new item to the end of the array. Go to the editor
# Sample Output:
# Original array: array('i', [1, 3, 5, 7, 9])
# Append 11 at the end of the array:
# New array: array('i', [1, 3, 5, 7, 9, 11])

a=arr.array('i', [1, 3, 5, 7, 9])
a.append(11)
print("new array",a)

new array array('i', [1, 3, 5, 7, 9, 11])

In [3]:
# 3. Write a Python program to reverse the order of the items in the array. Go to the editor
# Sample Output
# Original array: array('i', [1, 3, 5, 3, 7, 1, 9, 3])
# Reverse the order of the items:
# array('i', [3, 9, 1, 7, 3, 5, 3, 1])

a=arr.array('i', [1, 3, 5, 3, 7, 1, 9, 3])
a.reverse()
print(a)

array('i', [3, 9, 1, 7, 3, 5, 3, 1])

In [4]:
# 4. Write a Python program to get the length in bytes of one array item in the internal representation. Go to the editor
# Sample Output:
# Original array: array('i', [1, 3, 5, 7, 9])
# Length in bytes of one array item: 4
a=arr.array('i', [1, 3, 5, 7, 9])

print(len(a))

5

In [ ]:
# 5. Write a Python program to get the current memory address and the length in elements of the buffer used to hold an array's contents. Also, find the size of the memory buffer in bytes. Go to the editor
# Sample Output:
# Original array: array('i', [1, 3, 5, 7, 9])
# Current memory address and the length in elements of the buffer: (139741883429512, 5)

In [5]:
# 6. Write a Python program to get the number of occurrences of a specified element in an array. Go to the editor
# Sample Output:
# Original array: array('i', [1, 3, 5, 3, 7, 9, 3])
# Number of occurrences of the number 3 in the said array: 3
a=arr.array('i', [1, 3, 5, 3, 7, 9, 3])
a.count(5)

SyntaxError: invalid non-printable character U+00A0 (1357349204.py, line 5)

In [ ]:
# Write a Python program to get the current memory address and the length in elements of the buffer used to hold an array's contents. Also, find the size of the memory buffer in bytes. Go to the editor
# Sample Output:
# Original array: array('i', [1, 3, 5, 7, 9])
# Current memory address and the length in elements of the buffer: (139741883429512, 5)
# The size of the memory buffer in bytes: 20

In [ ]:
# 7. Write a Python program to append items from inerrable to the end of the array. Go to the editor
# Sample Output:
# Original array: array('i', [1, 3, 5, 7, 9])
# Extended array: array('i', [1, 3, 5, 7, 9, 1, 3, 5, 7, 9])
import array as arr
a=arr.array('i', [1, 3, 5, 7, 9])
for i in range(5):

In [7]:
# 11. Write a Python program to remove a specified item using the index of an array. Go to the editor
# Sample Output:
# Original array: array('i', [1, 3, 5, 7, 9])
# Remove the third item form the array:
# New array: array('i', [1, 3, 7, 9])

a=arr.array("i",[1,3,5,7,9])
a.pop(2)
print(a)

array('i', [1, 3, 7, 9])

# LAMBDA

In [2]:
max = lambda x : x*x*x
x = int(input("Enter the number"))
print (max(x))

Enter the number7
343

# MODULE

In [1]:
import calculator as c
c.add()
c.power()

 ENTER FIRST NUMBER :9

 ENTER SECOND NUMBER :7

=================================

==> ADDITION OFF  9  &  7 = 16

=================================

 ENTER FIRST NUMBER :9

 ENTER SECOND NUMBER :6

=================================

==> POWER OFF  9  &  6 = 531441

=================================

# TUPLE

In [10]:
tup = (1,2,3,4,5,6)
type(tup)

tuple

In [12]:
tup.index(1)

0

In [13]:
len(tup)

6

In [14]:
tup.count(3)

1

In [15]:
tup1 = (tup,7,8,9)
print(tup1)

((1, 2, 3, 4, 5, 6), 7, 8, 9)

In [16]:
list = [1,2,3,4,5,6,7]

In [17]:
tup2 = (tup,tup1,list)

In [18]:
print(tup2)

((1, 2, 3, 4, 5, 6), ((1, 2, 3, 4, 5, 6), 7, 8, 9), [1, 2, 3, 4, 5, 6, 7])

In [20]:
tup2[0]

(1, 2, 3, 4, 5, 6)

In [23]:
tup2[0:2]

((1, 2, 3, 4, 5, 6), ((1, 2, 3, 4, 5, 6), 7, 8, 9))

# QUESTIONS

In [5]:
#1. Write a Python program to create a tuple.

n = int(input("ENTER THE LENGTH OF THE TUPLE : "))

list = []

for i in range(1,n):
    
    list.append(i)
    list.append(n*i)

print(" \nTHE TUPLE IS :")
tuple(list)

ENTER THE LENGTH OF THE TUPLE : 9

THE TUPLE IS :

(1, 9, 2, 18, 3, 27, 4, 36, 5, 45, 6, 54, 7, 63, 8, 72)

In [18]:
#2 Write a Python program to create a tuple with different data types.

list1 = []
n = input("ENTER THE STRING : ")
list1.append(n)

m = int(input("\nENTER THE NUMBER : "))
list1.append(m)

list2 = []

x = int(input("\nENTER THE X : "))
list2.append(x)

y = int(input("\nENTER THE Y : "))

list2.append(y)

list1.append(list2)

tuple1 = tuple(list1)

print("\n===============================================")

print("\nTHE FINAL TUPLE IS = ",tuple1)

ENTER THE STRING : PATHAN

ENTER THE NUMBER : 325

ENTER THE X : 307

ENTER THE Y : 302

===============================================

THE FINAL TUPLE IS =  ('PATHAN', 325, [307, 302])

In [5]:
#2 Write a Python program to create a tuple with different data types.

TUPLE = ("tuple", 3.4, 1, False)

print(TUPLE)

('tuple', 3.4, 1, False)

In [19]:
#3 Write a Python program to create a tuple of numbers and print one itemt 

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(t)

a = int(input("\nENTER THE INDEX : "))

if a in range (1,10):
    
    print("\nAT THE INDEX" , a ,", THE ELEMENT", t[a] , "IS PRESENT .")

else:
    
    print ("\nTHE INDEX YOU ENTERD IS OUT OF RANGE...")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

ENTER THE INDEX : 99

THE INDEX YOU ENTERD IS OUT OF RANGE...

In [24]:
#4 Write a Python program to unpack a tuple into several variables

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

print("t = ",t)

print("\n")

print("THE VARIABLES ARE :")

print("====================")

#print("\n")

a =  t[0]
print("a = ",a)

b = t[1]
print("b = ",b)

c = t[2]
print("c = ",c)

d = t[3]
print("d = ",d)

e = t[4]
print("e = ",e)

f = t[5]
print("f = ",f)

g = t[6]
print("g = ",g)

h = t[7]
print("h = ",h)

i = t[8]
print("i = ",i)

t =  (1, 2, 3, 4, 5, 6, 7, 8, 9)


THE VARIABLES ARE :
====================
a =  1
b =  2
c =  3
d =  4
e =  5
f =  6
g =  7
h =  8
i =  9

In [31]:
#5. Write a Python program to add an item to a tuple

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

l = list(t)

n = int(input("\nENTER THE ELEMENT WHICH YOU WANT TO ADD : "))

l.append(n)

x = tuple(l)

print("\n")

print("THE UPDATED TUPLE IS : ",x)

ENTER THE ELEMENT WHICH YOU WANT TO ADD : 98


THE UPDATED TUPLE IS :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 98)

In [41]:
#6. Write a Python program to convert a tuple to a string.

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

for i in t :
    
    str(i)
    
print("CONVERTED TUPLE IS = ", t)

CONVERTED TUPLE IS =  (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [42]:
#7. Write a Python program to get the 4th element from the last element of a tuple

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

print(t)

n = len(t)

print("\nTHE FOURTH ELEMENT FROM THE LAST IS : ",t[n-4])

(1, 2, 3, 4, 5, 6, 7, 8, 9)

THE FOURTH ELEMENT FROM THE LAST IS :  6

In [37]:
#8. Write a Python program to create the colon of a tuple.

# from copy import deepcopy
# #create a tuple
# tuplex = ("HELLO", 5, [], True) 
# print(tuplex)
# #make a copy of a tuple using deepcopy() function
# tuplex_colon = deepcopy(tuplex)
# tuplex_colon[2].append(50)
# print(tuplex_colon)
# print(tuplex)

In [6]:
#9. Write a Python program to find repeated items in a tuple

t = ( 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9)

list = []

for i in t :
    if t.count(i) > 1:
    
        list.append(i)
    
t2 = tuple(list)

print("THE REPEATED ITEMS ARE : ",t2)

THE REPEATED ITEMS ARE :  (2, 2, 3, 3, 5, 5)

In [10]:
#10. Write a Python program to check whether an element exists within a tuple .

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

a = int(input("ENTER THE ELEMENT : "))
if a in t:
    print("\nTHE ELEMENT",a,"IS PRESENT IN THE TUPLE .")
    
else:
    print("\nTHE ELEMENT",a, "IS NOT PRESENT IN THE TUPLE .")

ENTER THE ELEMENT : 88

THE ELEMENT 88 IS NOT PRESENT IN THE TUPLE .

In [25]:
#11. Write a Python program to convert a list to a tuple .

list = [ 1, 2, 3, 4, 5, 6, 7, 8]

tup = tuple(list)

print("CONVERTED TUPLE IS =",tup)

CONVERTED TUPLE IS = (1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
#12. Write a Python program to remove an item from a tuple.

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

l = list(t)

a = int(input("\nENTER THE INDEX OF ELEMENT WHICH YOU WANT TO REMOVE : "))

b = len(l)

if a > b:
    print("\nTHE INDEX IS OUT OF RANGE....!  SO ANY ELEMENT IS NOT REMOVED ...!")
    
else:
    l.pop(a)
    
tup = tuple(l)

print("\nTHE FINAL TUPLE IS = ",tup)

ENTER THE INDEX OF ELEMENT WHICH YOU WANT TO REMOVE : 77

THE INDEX IS OUT OF RANGE....!  SO ANY ELEMENT IS NOT REMOVED ...!

THE FINAL TUPLE IS =  (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
#13. Write a Python program to slice a tuple.

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

print("THE ORIGINAL TUPLE IS = ",t)

a = int(input("\nENTER THE STARTING INDEX OF SLICING : "))

b = int(input("\nENTER THE LAST INDEX OF SLICING : "))

c = len(t)

if a > 0 and b < c :
    print("\nTHE SLICECD TUPLE = ",t[a:b])
    
else:
    print("\nTHE INDEX YOU ENTERED IS OUT OF RANGE...! THAT'S WHY THE SLICING IS NOT DONE...! ")

THE ORIGINAL TUPLE IS =  (1, 2, 3, 4, 5, 6, 7, 8, 9)

ENTER THE STARTING INDEX OF SLICING : 1

ENTER THE LAST INDEX OF SLICING : 9

THE INDEX YOU ENTERED IS OUT OF RANGE...! THAT'S WHY THE SLICING IS NOT DONE...!

In [32]:
#14. Write a Python program to find the index of an item in a tuple.

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

a = int(input("ENTER THE ITEM = "))

if a not in t :
    print("\nTHE ITEM IS NOT PRESENT IN THE TUPLE...!")
    
else :
    index = t.index(a)
    
    print("\nTHE INDEX OF", a ,"IS",index, "....!")

ENTER THE ITEM = 4

THE INDEX OF 4 IS 3 ....!

In [33]:
#15. Write a Python program to find the length of a tuple. 

t = ( 1, 2, 3, 4, 5, 6, 7, 8, 9)

a = len(t)

print("THE LENGTH OF THE TUPLE IS ", a ,"....!")

THE LENGTH OF THE TUPLE IS  9 ....!

# LISTS

In [1]:
# TAKE A LIST AND DIFFERCIATE THE ELEMENTS INTO EVEN AND ODD ...



a = int(input("\nENTER THE LENGTH OF THE LIST : "))

print("\n=============================")

l = []

counteve = 0

countodd = 0


for i in range (1 , (a + 1)) :
    
    b = int(input("\nENTER THE ELEMENT : "))

    l.append(b)
    
print("\n=============================\n")   

print("THE LIST OF ELEMENTS YOU ENTERED : " , l )

for i in l :
    
    if i % 2 == 0 :
        
        counteve = counteve + 1
    
    else :
        
        countodd = countodd + 1
        
        
print("\nTHE TOTAL EVEN ELEMENTS IN LIST ARE : " , counteve )

print("\nTHE TOTAL ODD ELEMENTS IN LIST ARE : " , countodd )

ENTER THE LENGTH OF THE LIST : 8

=============================

ENTER THE ELEMENT : 7

ENTER THE ELEMENT : 9

ENTER THE ELEMENT : 8

ENTER THE ELEMENT : 0

ENTER THE ELEMENT : 7

ENTER THE ELEMENT : 6

ENTER THE ELEMENT : 5

ENTER THE ELEMENT : 9

=============================

THE LIST OF ELEMENTS YOU ENTERED :  [7, 9, 8, 0, 7, 6, 5, 9]

THE TOTAL EVEN ELEMENTS IN LIST ARE :  3

THE TOTAL ODD ELEMENTS IN LIST ARE :  5