# FUNCTIONS

USER DEFINED FUNCTIONS

In [1]:
def test():
    print("This is my first function")

In [2]:
test()

This is my first function

In [3]:
def test2():
    return "This is my first return"

In [4]:
test2()

'This is my first return'

In [5]:
test2() + " ITS OK"

'This is my first return ITS OK'

In [7]:
def test3():
    return (2,3,"mk",67.77,True)

In [8]:
test3()

(2, 3, 'mk', 67.77, True)

In [10]:
a,b,c,d,e = test3()

In [12]:
a

2

In [13]:
c

'mk'

In [14]:
e

True

In [16]:
a = 3
b = 4

a,b = 3,4

# this both operations are same

In [17]:
def myfun():
    a = 3+6*4
    return a

In [18]:
myfun()

27

In [19]:
# Argument passing

def myarg(a,b,c):
    d = a+b/c
    return d

In [21]:
myarg(3,14,7)

5.0

In [24]:
def fun(a,b):
    return a+b

In [25]:
fun(3,5)

8

In [28]:
fun("shubh"," mangal")

'shubh mangal'

In [27]:
fun([3,5,6],[4,7,8])

[3, 5, 6, 4, 7, 8]

In [41]:
l = [1,2,3,45,"sudh","my",[56,56,7,78]]

In [42]:
def inte(l):
    l1 = []
    for i in l :
        if type(i)== int or type(i)==float :
            l1.append(i)
    return l1

In [43]:
inte(l)

[1, 2, 3, 45]

In [44]:
# Taking int out from the list with function 

def inte(a):
    l2 = []
    for i in a :
        if type(i)== int or type(i)==float :
            l2.append(i)
        elif type(i)==list :
            for j in i :
                l2.append(j)
    return l2

In [45]:
inte(l)

[1, 2, 3, 45, 56, 56, 7, 78]

MAKING DOCSTRING

In [46]:
# Making docstring in the function 

def extr(a):
    """This is function to extract integers from the list"""
    l2 = []
    for i in a :
        if type(i)== int or type(i)==float :
            l2.append(i)
        elif type(i)==list :
            for j in i :
                l2.append(j)
    return l2

In [ ]:
extr()

WHEN WE HAVE TO TAKE MULTIPLE ARGUMENTS THEN WE CAN USE * SYMBOL IN 
ARGUMENTS

In [47]:
def mult(*a):
    return a

In [49]:
mult(2,46,"oudgguso")

# It stores the arguments passed in the form of tuple

(2, 46, 'oudgguso')

In [50]:
def mult(*a,b):
    return a , b

In [51]:
mult(2,3,4,5, b = 56)

((2, 3, 4, 5), 56)

IMP

In [52]:

def lafda(a,b,c = 56,d = 67):
    return a,b,c,d

In [53]:
lafda(90,40)

(90, 40, 56, 67)

In [55]:
# In this case if we want to the value of default argument 
# we can overwrite that value

In [56]:
lafda(90,80,c = 34)

(90, 80, 34, 67)

KEYWORD ARGS (**)

In [65]:
# This is basically used for dictonaryy
# This is defind wih the help of ** 
# This is used to take key value pair as an arguments
# Unlimited args

In [58]:
def kwarg(**a):
    return a

In [59]:
kwarg()

{}

In [61]:
type(kwarg())

dict

In [64]:
kwarg(a = [3,4], b = "sudh",c = 67.78)

{'a': [3, 4], 'b': 'sudh', 'c': 67.78}

In [36]:
l = [4,5,6,7,8]

In [39]:
def sqr(l):
    l1=[]
    for i in l :
        l1.append(i**2)
    return l1

In [41]:
sqr(l)

[16, 25, 36, 49, 64]

# GENERATOR FUNCTION

In [7]:
# In this we used a function named yield
# yield passes the data to the function with the updated values 
# such as in this function the fib series 
# here first a contain 0 then 1 then 1 then 2 then 3 like that

WHEREVER WE USE YIELD THAT WILL BE IDENTIFIED AS GENERATED FUNCTION
AND RANGE FUNCTION IS BY DEFAULT A GENERATED FUNCTION

In [5]:
# PRINTING FIB SERIES USING GENERATOR FUNCTION

def testfib(n):
    a,b = 0,1
    for i in range (n):
        yield a
        a,b = b, a+b

In [6]:
for i in testfib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

USING WHILE LOOP

In [12]:
def testfib():
    a,b = 0,1
    while True:
        yield a
        a,b = b, a+b

In [13]:
fib = testfib()

In [14]:
for i in range (10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

ONLY ITERABLES CAN BE CONVERTED INTO ITERATORS

FOR LOOP FIRST CONVERTS THE DATA INTO ITERATOR THEN IT WILL DO NEXT NEXT

iter(a)  THIS IS THE METHOD TO CONVERSION

ITERABLE - THE DATA WE CAN CONVERT INTO ITERATOR

ITERATOR - WE CAN TRAVEL THE DATA THROUGH NEXT NEXT

# LAMBDA FUNCTION

In [15]:
def test(a,b):
    return a**b

In [16]:
test(5,2)

25

INSTEAD OF WRITING THIS TYPE OF FUNCTION WE CAN EASILY DO THIS WITH 
THE HELP OF LAMBDA FUNCTION 

THIS IS ALSO CALLED AS ONE LINE FUNCTION OR ANONYMOUS FUNCTION 

LET US SEE :-

In [18]:
a = lambda n,p : n**p

WE HAVE TO SAVE THIS IN VARIABLE LIKE WE DID 
WHEN WE WANT CALL THEN WE CAN CALL IT WITH THE HELP OF THAT VARIABLE NAME

In [20]:
a(3,2) #CALLING

9

In [23]:
# ANOTHER EXAMPLE

add = lambda x,y : x+y

In [24]:
add(3,4)

7

In [25]:
#  CELCIUS TO FAR

t = lambda c : (9/5)*c+32

In [26]:
t(56)

132.8

In [27]:
# FINDING MAX

m = lambda x,y : x if x>y else y

In [28]:
m(3,4)

4

In [33]:
# FINDING LEN OF THE STRING
leng = lambda s : len(s)

In [34]:
p = "lambda fun"

In [35]:
leng(p)

10

#  MAP REDUCE AND FILTER FUNCTION

# MAP

In [42]:
l = [4,5,6,7,8]

In [48]:
def sq(x):
    return x**2

In [49]:
list(map(sq,l))

[16, 25, 36, 49, 64]

WE CAN ALSO WRITE THIS WITH THE HELP OF LAMBDA FUNCTION

In [50]:
list(map(lambda x : x**2,l))

[16, 25, 36, 49, 64]

In [51]:
l1 = [41,5,26,17,8]
l2 = [33,55,64,34,34]

list(map(lambda x,y : x+y, l1 , l2))

[74, 60, 90, 51, 42]

In [53]:
a = "avin shaikh"

list(map(lambda x : x.upper(), a))

['A', 'V', 'I', 'N', ' ', 'S', 'H', 'A', 'I', 'K', 'H']

# REDUCE

THIS IS ALSO A MAPPER TYPE FUNCTION WHICH WORKS TOTAL ITERABLES 
BUT IT IS NOT AVAILABLE BY DEFAULT WE HAVE TO CALL THAT FUNCTION
FROM THE LIBRARY

In [54]:
from functools import reduce

In [56]:
l = [ 2,1,4,5,6,7]

In [58]:
reduce(lambda x,y : x+y , l) #SUM

25

ONLY WE CAN ASSIGN TWO PARAMETERS IN THIS NOT MORE THAN TWO 

THIS IS MAINLY USED FOR ARITHMETIC OPERATIONS

In [62]:
reduce(lambda x,y : x*y , l) # SUM OF MULTIPLICATION

1680

In [63]:
reduce(lambda x,y : x if x>y else y , l) # GREATER

7

# FILTER

In [64]:
l = [ 2,1,4,5,6,7]

In [65]:
list(filter(lambda x : x%2 == 0 , l))

[2, 4, 6]

In [66]:
list(filter(lambda x : x%2 != 0 , l))

[1, 5, 7]

In [68]:
l = ["abc","ad","gfg"]

In [69]:
list(filter(lambda x : len(x)>2 , l))

['abc', 'gfg']