# PW SKILLS

In [1]:
s = "pwskills"

In [2]:
s[::-1]

'sllikswp'

In [3]:
s[:-90:]

''

In [4]:
s[:-90:-1]

'sllikswp'

# COMPLEX

In [5]:
p = 5+8j

In [6]:
p.imag

8.0

In [7]:
p.real

5.0

# STRING

In [ ]:
s1 ="This is my string class"

In [9]:
len(s1)

23

In [12]:
s1.find("s")
# Gives index of first occurance and input should be in double quotes 
# shift and tap defines all of the methods like find

3

In [13]:
#In case if find is unable to find something then it will not give error
#it will return -1

In [15]:
s1.count("s")

5

In [16]:
# FOR UPPERCASE 
s1.upper()

'THIS IS MY STRING CLASS'

In [17]:
# FOR LOWERCASE
s1.lower()

'this is my string class'

In [18]:
s1.title()

'This Is My String Class'

In [19]:
s1.capitalize()

'This is my string class'

In [23]:
a = " of PWSKILLS."

In [24]:
s1+a

'This is my string class of PWSKILLS.'

In [22]:
# This is my first class of programming

# LISTS

In [26]:
l = [1,45,345,"sudh",4+5j,445.55]
print(l)

[1, 45, 345, 'sudh', (4+5j), 445.55]

In [27]:
type(l)

list

In [28]:
l[1]

45

In [29]:
l[-1]

445.55

In [30]:
l[0:3]

[1, 45, 345]

In [31]:
l[::-1]

[445.55, (4+5j), 'sudh', 345, 45, 1]

In [33]:
l[::2]

[1, 345, (4+5j)]

In [35]:
l[3][0:2]

'su'

In [3]:
a = [1,45,345,"sudh",True,4+5j,445.55]
print(a)

[1, 45, 345, 'sudh', True, (4+5j), 445.55]

In [4]:
str(a[4])[0:3]

'Tru'

In [5]:
b = [2,3,4]

In [6]:
a+b

[1, 45, 345, 'sudh', True, (4+5j), 445.55, 2, 3, 4]

EXTEND

In [7]:
a.extend(b)
a

[1, 45, 345, 'sudh', True, (4+5j), 445.55, 2, 3, 4]

INSERT

In [8]:
a.insert(2,b)

In [9]:
a

[1, 45, [2, 3, 4], 345, 'sudh', True, (4+5j), 445.55, 2, 3, 4]

In [10]:
# In append we can add one item to a list at the end
# In extend we can add multiple elements in the list 
# In insert we can add any elements to the list at a perticular index
"""In case of insert the item will be added as it is list and that
will be considered as a single element in the list"""
# append and extend will add the data at last of the list

'In case of insert the item will be added as it is list and that\nwill be considered as a single element in the list'

In [11]:
a[2][1]

3

POP

In [12]:
a.pop(4)

'sudh'

In [13]:
a

[1, 45, [2, 3, 4], 345, True, (4+5j), 445.55, 2, 3, 4]

In [14]:
a.pop()

4

In [15]:
a.pop()

3

In [16]:
'''In this if we didnt gave an index in the pop then it removes last
element of the list and if we pass the index value then removes that
perticular element'''

'In this if we didnt gave an index in the pop then it removes last\nelement of the list and if we pass the index value then removes that\nperticular element'

In [17]:
a.pop(3)

345

In [18]:
a.pop(2)

[2, 3, 4]

In [19]:
a

[1, 45, True, (4+5j), 445.55, 2]

REMOVE

In [20]:
"""In case of remove we have to pass the value and it removes the 
first appearance of that element"""

'In case of remove we have to pass the value and it removes the \nfirst appearance of that element'

In [21]:
a.remove(2)

In [22]:
a

[1, 45, True, (4+5j), 445.55]

In [23]:
a.insert(2,b)
a

[1, 45, [2, 3, 4], True, (4+5j), 445.55]

In [25]:
a[2].remove(3)

In [26]:
a

[1, 45, [2, 4], True, (4+5j), 445.55]

REVERSE

In [29]:
a.reverse()
a

[445.55, (4+5j), True, [2, 4], 45, 1]

SORT

In [32]:
l=[2,3,6,2,5,4,6,7,9,8]

In [34]:
l.sort()
l

[2, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [ ]:
# In case of strings it sorts in alphabetical order

In [36]:
l.sort(reverse=True)
l

[9, 8, 7, 6, 6, 5, 4, 3, 2, 2]

In [37]:
l.count(4)

1

In [38]:
l[1]=43

In [39]:
l

[9, 43, 7, 6, 6, 5, 4, 3, 2, 2]

# TUPLE

In [43]:
t=(1, 45, [2, 3, 4], True, (4+5j), 445.55)
t

(1, 45, [2, 3, 4], True, (4+5j), 445.55)

In [42]:
type(t)

tuple

In [44]:
len(t)

6

In [55]:
t[0]

1

In [46]:
t[2]

[2, 3, 4]

In [47]:
t[::-1]

(445.55, (4+5j), True, [2, 3, 4], 45, 1)

In [48]:
# The only diff in list and tuple is tuple is immutable and list is not

In [49]:
# Item assignment and mutability is different

In [50]:
# In terms of immutability tuple tatally same as strings

In [54]:
t

(1, 45, [2, 3, 4], True, (4+5j), 445.55)

In [52]:
t.count(1)

2

In [53]:
t.index(45)

1

# SET

In [58]:
s = set()

In [59]:
type(s)

set

In [60]:
s = {2,3,6,7,4,5,9,5+4j,54.55,(3,4,5),"afhah",True}
s

{(3, 4, 5), (5+4j), 2, 3, 4, 5, 54.55, 6, 7, 9, True, 'afhah'}

In [61]:
# In set we can use tuple but not list 
# we can only use immutable elements in set
# set does not allows duplicate values

In [62]:
s3 = [3,4,3,5,2,5,3,2,3]
s3

[3, 4, 3, 5, 2, 5, 3, 2, 3]

In [63]:
s3 = set(s3)
s3

{2, 3, 4, 5}

In [64]:
"""Set never arrange data in ascending order and it is the 
unordered collection of data """

'Set never arrange data in ascending order and it is the \nunordered collection of data '

In [66]:
# indexing , slicing is not going to work in case of sets

In [69]:
s.add(78)
s

{(3, 4, 5), (5+4j), 2, 3, 4, 5, 54.55, 6, 7, 78, 9, True, 'afhah'}

In [70]:
s.remove(3)
s

{(3, 4, 5), (5+4j), 2, 4, 5, 54.55, 6, 7, 78, 9, True, 'afhah'}

# DICTONARY

In [71]:
# In dict we hava key and value pair
# In this case we can update values but not keys
# key should always be unique
# We can use any string and numeric and boolen value for key

In [72]:
d = {}
d

{}

In [73]:
type(d)

dict

In [74]:
d1 = {'key':"value"}
d1

{'key': 'value'}

In [75]:
d2 = {'name':"amit",'age':34,'number':334556666}

In [76]:
d2

{'name': 'amit', 'age': 34, 'number': 334556666}

In [80]:
d2['name']

'amit'

In [81]:
d2['age']

34

In [82]:
d3 = {333:"ffhshg",333:"aaaa",444:"vvv",444:"ppp"}
d3

{333: 'aaaa', 444: 'ppp'}

In [83]:
d3[333]

'aaaa'

In [84]:
d3[444]

'ppp'

In [85]:
"""In case of same key using the key will overwrited and that
will return the end assigned value that's why key should be unique"""

"In case of same key using the key will overwrited and that\nwill return the end assigned value that's why key should be unique"

In [87]:
d5 = {'company':"pwskills",'course':["web","ds","AI"]}
d5

{'company': 'pwskills', 'course': ['web', 'ds', 'AI']}

In [88]:
# we can add a list as well in the values

In [89]:
d5['course'][2]

'AI'

In [90]:
d6 = {'num':[2,34,5,6],'assignment':(2,4,7,8,9),'set':{4,6,7},'class':{'web':4}}
d6

{'num': [2, 34, 5, 6],
 'assignment': (2, 4, 7, 8, 9),
 'set': {4, 6, 7},
 'class': {'web': 4}}

In [91]:
# we can add any data type as value in the dict

In [92]:
d6['class']['web']

4

In [98]:
# If we have to add any pair then we can add
"""but if that key name is allready present then 
that will be overwrited not added"""

'but if that key name is allready present then \nthat will be overwrited not added'

In [97]:
d6['key']=[3,5,6,7]
d6

{'num': [2, 34, 5, 6],
 'assignment': (2, 4, 7, 8, 9),
 'set': {4, 6, 7},
 'class': {'web': 4},
 'key': [3, 5, 6, 7]}

In [99]:
del d6['key']
d6

{'num': [2, 34, 5, 6],
 'assignment': (2, 4, 7, 8, 9),
 'set': {4, 6, 7},
 'class': {'web': 4}}

In [100]:
d6.keys()

dict_keys(['num', 'assignment', 'set', 'class'])

In [101]:
d6.values()

dict_values([[2, 34, 5, 6], (2, 4, 7, 8, 9), {4, 6, 7}, {'web': 4}])

In [105]:
# If we want both key and values
d6.items()

dict_items([('num', [2, 34, 5, 6]), ('assignment', (2, 4, 7, 8, 9)), ('set', {4, 6, 7}), ('class', {'web': 4})])

In [106]:
d6.pop('class')
d6

{'num': [2, 34, 5, 6], 'assignment': (2, 4, 7, 8, 9), 'set': {4, 6, 7}}

# CONTROL FLOW STATEMENTS

 CONDITIONAL STATEMENTS

IF ELIF ELSE STATEMENTS

In [111]:
marks = int(input("ENTER YOUR MARKS :"))

if marks > 100 :
    print("INVALID MARKS ..!")

elif marks <= 100 and marks >=80 :
    print("PASS..!")
    
elif marks >= 60 and marks < 80 :
    print("THODA KAM PASS..!")
    
elif marks >= 40 and marks < 60 :
    print("BAHOT KAM PASS..!")

else :
    print("FAIL..!")

ENTER YOUR MARKS :120
INVALID MARKS ..!

In [113]:
price  = int(input("ENTER THE PRICE : "))

if price > 1000 :
    print("AUKAT KE BAHAR !")
else :
    print("WE CAN PURCHASE !")

ENTER THE PRICE : 1224
AUKAT KE BAHAR !

In [117]:
price  = int(input("ENTER THE PRICE : "))

if price > 1000 :
    print("AUKAT KE BAHAR !")
    if price > 5000 :
        print("MARNA HAI KYA BHOSDIKE !")
    elif price <2000 :
        print("IT'S OK !")
elif price < 1000 :
    print("KHARID SAKTE HAI !")

ENTER THE PRICE : 666
KHARID SAKTE HAI !

# LOOPS

FOR LOOP

In [118]:
l = [1,2,3,8,6,4]
l

[1, 2, 3, 8, 6, 4]

In [121]:
l1 = []
l1.append(88)
l1

[88]

In [124]:
for i in l :
    print(i)
    l1.append(i+6)
    
l1

1
2
3
8
6
4

[88, 7, 8, 9, 14, 12, 10]

In [126]:
l2 = ["sudh","my","mk"]
l2

['sudh', 'my', 'mk']

In [134]:
l3 = []
for i in l2 :
    l3.append(i.upper())
    
l3

['SUDH', 'MY', 'MK']

In [136]:
l4 =[1,2,3,4,"sudh","shubh",76.9]
l4

[1, 2, 3, 4, 'sudh', 'shubh', 76.9]

In [138]:
l5 = []
l6 = []

for i in l4 :
    if type(i) == int or type(i) == float :
        l5.append(i)
    else :
        l6.append(i)
        
print(l5)
print(l6)

[1, 2, 3, 4, 76.9]
['sudh', 'shubh']