1.	What is the output of print(3 + 5 * 2)?

In [4]:
 print(3 + 5 * 2)

13

2.	What are the three boolean operators in Python?

The three boolean operators in Python are:

and: This operator returns True if both operands are True, otherwise it returns False.
or: This operator returns True if at least one of the operands is True, otherwise it returns False.
not: This operator returns the opposite of the operand's value. If the operand is True, not returns False; if the operand is False, not returns True.

3.	Write a program to swap two variables without using a temporary variable.

In [6]:
a = 6 
b = 7

c = a 

a = b 

b = c

print(a)
print(b)

7
6

4.	Write a Python program to find the largest of three numbers.

In [10]:
def largest(x,y,z):
    
    if x > y and x > z :
        largest = x
    
    elif y > x and y > z :
        largest = y
        
    else :
        largest = z
    
    print(largest)

largest(7,8,9)

9

5.	What is the difference between == and is operators in Python?

In python language == is the comparison operator and the is is the membership operator

6.	Write a function to calculate the factorial of a number.

In [1]:
def fact(n):
    
    if n== 0 or n==1:
        return 1
    else :
        return n * fact(n-1)
    
fact(5)

120

7.	Write a Python program to check if a number is prime.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    elif num <= 3:
        return True
    elif num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Example usage:
number = 17
if is_prime(number):
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")

In [5]:
def isprime(n):
    
    if n <=1 :
        return False
    
    for i in range (2 , int(n ** 0.5)+1):
        if n % i == 0 :
            return False
        
    return True 

isprime(17)
isprime(10)

False

In [7]:
def isprime (n):
    if n <= 1:
        return False 
    
    for i in range(2,int(n ** 0.5)+1):
        if n %i == 0 :
            return False
    return True

print(isprime(9))
print(isprime(17))

False
True

8.	Explain the difference between while and for loops in Python.

while loop: Repeats a block of code as long as a condition is true, ideal for indefinite iteration until a condition is met.


for loop: Iterates over a sequence or range, executing a block of code for each element, suitable for known iterations over collections.

9.	What is the purpose of the range() function in Python?

The range() function in Python generates a sequence of numbers. It is primarily used to create a sequence of numbers that can be iterated over, typically in for loops. It can also be used to specify the number of iterations in a loop or to create lists of numbers.

10.	Write a Python function to check if a string is a palindrome.

In [14]:
def palindrome(x):
    
    if type(x) != str :
        x = str(x)
        
    if x == x[::-1]:
        return "The string is palindrome"
        
    else :
        return "The string is not palindrome"
        
print(palindrome("radar"))
print(palindrome("mk"))

The string is palindrome
The string is not palindrome

11.	Explain the concept of function arguments in Python.

Function arguments in Python are inputs provided to a function when it's called. They can be positional, specified by parameter name (keyword), have default values, or accept an arbitrary number of arguments using *args and **kwargs. They enable flexible and modular code by allowing functions to process different inputs.

12.	Write a Python program to print Fibonacci series up to n terms.

In [20]:
def fib (n):
    a , b = 0, 1
    
    for i in range (n):
        yield a
        a = b 
        b = a+b

fib(8)

for i in fib(10):
    print(i)

0
1
2
4
8
16
32
64
128
256

13.	What is the purpose of the break and continue statements in Python?

Break : The purpose of the break statement in python is to break the loop and exit if the given condition satisfies 

Continue : The continue statement in python is used to skip the loop for that given perticuler condiotion

14.	Explain the difference between return and print statements in Python functions.

In Python functions:

return statement: It terminates the function execution and sends a value back to the caller. The returned value can be stored in a variable or used in further computations.

print statement: It simply displays the specified content on the console. It does not affect the flow of the function or return any value to the caller.

In essence, return is used to provide a value as the output of a function, while print is used to display information for debugging or user interaction.

15.	Write a Python program to check if a number is even or odd.

In [25]:
def evenodd(n):
    
    if n <0 :
        return "The number is negative"
    
    if n%2 == 0 : 
        return "The given number is even "
        
    else :
        return "The given number is odd"
        
print(evenodd(8))
print(evenodd(9))
print(evenodd(-2))

The given number is even
The given number is odd
The number is negative

16.	What is the use of the else statement in Python loops?

In Python loops, the else statement is used to execute a block of code when the loop completes normally, without encountering a break statement.

For for loops:

The else block executes when the loop completes iterating over all elements in the sequence.
For while loops:

The else block executes when the loop condition becomes false and the loop terminates.
The else statement in loops is commonly used for control flow and to execute additional code after the loop completes successfully.

17.	Explain the concept of variable scope in Python.

Variable scope in Python refers to the visibility and accessibility of variables within different parts of a program. Variables can have local scope, confined to a specific function or block, or global scope, accessible throughout the entire program. Understanding variable scope helps prevent naming conflicts and ensures proper variable usage within Python programs.

18.	Write a Python program to find the sum of all numbers stored in a list.

In [26]:
l = [1,2,3,4,5,6,7,8,9]

def sumlist(x):
    sum = 0 
    
    for i in x :
        sum = sum +i 
        
    return sum

sumlist(l)

45

19.	What is the purpose of the pass statement in Python?

In Python, the pass statement is a null operation. It is used when a statement is syntactically required but no action is needed or desired. Essentially, pass serves as a placeholder to maintain syntactic correctness, particularly in situations where no action needs to be taken.

20.	Explain the difference between global and local variables in Python.

Global variables are defined outside of any function or block and can be accessed from anywhere within the program.
Local variables are defined within a function or block and can only be accessed within that specific function or block. They have local scope and are not visible outside of their defined scope.

1.	How do you access elements in a list in Python?

In Python, you can access elements in a list by using indexing. Indexing starts at 0 for the first element and increases by 1 for each subsequent element. You can access elements using positive indices, which count from the beginning of the list, or negative indices, which count from the end

2.	Write a Python program to remove duplicates from a list.

In [27]:
l = [1,1,2,3,2,3,4,5,6]

def remove(x):
    
    y = set(x)
    
    return list(y)

remove(l)

[1, 2, 3, 4, 5, 6]

In [28]:
def uni(x):
    
    unique_list = []
    
    for i in x :
        if i not in unique_list :
            unique_list.append(i)
            
    return unique_list

uni(l)

[1, 2, 3, 4, 5, 6]

3.	Explain the difference between a list and a tuple in Python.

A list is a mutable sequence data type, represented by square brackets [ ]. It allows for modification of its elements, such as adding, removing, or changing items after creation.


A tuple is an immutable sequence data type, represented by parentheses ( ). Once created, its elements cannot be modified, added, or removed. Tuple elements are typically accessed for reading purposes.

4.	Write a Python program to reverse a tuple.

In [30]:
t = (1,2,3)

def revt(x):
    
    return t[::-1]

revt(t)

(3, 2, 1)

5.	What is the purpose of a dictionary in Python?

The purpose of dictonary in python is to store key value type of data in which a key contains single or multiple values in it

6.	Write a Python program to merge two dictionaries.

In [33]:
dict1 = {'a':[1,2] , 'b':[3,4]}
dict2 = {'c':"kamal" , 'd':"dhaval"}

dict3 = dict1.copy()  
dict3.update(dict2)  

dict3

{'a': [1, 2], 'b': [3, 4], 'c': 'kamal', 'd': 'dhaval'}

7.	How do you access elements in a dictionary in Python?

In [37]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

print(my_dict['name'])

print(my_dict['age'])

print(my_dict.keys())

print(my_dict.values())

John
30
dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'New York'])

8.	Write a Python program to sort a dictionary by value.

In [39]:
def sort_dict_by_value(input_dict):
    
    sorted_items = sorted(input_dict.items(), key=lambda x: x[1])
    
    sorted_dict = dict(sorted_items)
    return sorted_dict


my_dict = {'b': 3, 'a': 2, 'c': 1}
print("Original dictionary:", my_dict)

sorted_dict = sort_dict_by_value(my_dict)
print("Dictionary sorted by value:", sorted_dict)

Original dictionary: {'b': 3, 'a': 2, 'c': 1}
Dictionary sorted by value: {'c': 1, 'a': 2, 'b': 3}

9.	Explain the concept of a set in Python.

In Python, a set is an unordered collection of unique elements. Sets are mutable, meaning you can add or remove elements from them, but they do not support indexing or slicing like lists or tuples. Sets are defined using curly braces { } and can contain elements of different data types. Here's a brief summary of key characteristics of sets:

Uniqueness: Sets cannot contain duplicate elements. If you attempt to add a duplicate element to a set, it will be ignored.
Unordered: Elements in a set are not stored in any particular order, and there is no guarantee of the order in which elements will be retrieved.
Mutable: You can modify the contents of a set after it has been created, such as adding or removing elements.
Operations: Sets support various set operations like union, intersection, difference, and symmetric difference.
Here's an example of defining and using a set in Python:

python

Sets are commonly used in Python for tasks that involve checking membership, removing duplicates from a collection, or performing set operations.

In [41]:

my_set = {1, 2, 3, 4, 5} 
print(my_set)  


my_set.add(6)
print(my_set) 

my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

10.	Write a Python program to perform set operations (union, intersection, difference).

In [42]:
s1 = {1, 2, 3, 4, 5}
s2 = {4,5,6,7,8}

print(s1.intersection(s2))

print(s1.union(s2))

print(s1.difference(s2))

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}

11.	How do you add elements to a set in Python?

In [43]:
s1.add(10)

s1

{1, 2, 3, 4, 5, 10}

12.	Write a Python program to remove an element from a set.

In [47]:
s1.remove(5)

s1

{1, 2, 3, 4}

13.	Explain the difference between a set and a frozenset in Python.

Sets (set) in Python are mutable collections of unique elements, allowing for modification after creation. 


Frozensets (frozenset), on the other hand, are immutable sets, making them suitable for use as keys in dictionaries or as elements in other sets due to their hashability and inability to be modified.

14.	Write a Python program to check if two sets are disjoint.

In [49]:
set1 = {1, 2, 3 ,4}
set2 = {4, 5, 6}

disjoint = set1.isdisjoint(set2)

if disjoint:
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are not disjoint.

15.	How do you iterate over elements in a set in Python?

In [50]:
set1 = {1, 2, 3 ,4}

for i in set1 :
    print(i)

1
2
3
4

16.	Write a Python program to find the intersection of multiple sets.

In [53]:
set1 = {1, 2, 3, 4 , 6}
set2 = {3, 4, 5, 6}
set3 = {6 ,7, 8, 9, 10}

inter = set1.intersection(set2)

inter2 = inter.intersection(set3)

print(inter2)

{6}

In [54]:
result = set1.intersection(set2,set3)

print(result)

{6}

17.	Explain the concept of set comprehension in Python.

Set comprehension is a concise way to create sets in Python using a single line of code. It allows you to generate sets based on an expression, along with an optional condition. The general syntax for set comprehension is similar to list comprehension, but with curly braces {} instead of square brackets [].

In [58]:
squares = {x ** 2 for x in range(1, 6)}

print("Set of squares:", squares)

Set of squares: {1, 4, 9, 16, 25}

18.	Write a Python program to find the maximum and minimum element in a set.

In [57]:
my_set = {3, 7, 1, 5, 9, 2}

maximum_element = max(my_set)

minimum_element = min(my_set)

print("Maximum element:", maximum_element)
print("Minimum element:", minimum_element)

Maximum element: 9
Minimum element: 1

19.	How do you convert a list to a set in Python?

In [59]:
l = [1,2,3,3,4]

s = set(l)

s

{1, 2, 3, 4}

Write a Python program to check if a set is a subset of another set.

In [60]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset_method = set1.issubset(set2)

is_subset_operator = set1 <= set2

if is_subset_method:
    print("set1 is a subset of set2 using the issubset() method.")
else:
    print("set1 is not a subset of set2 using the issubset() method.")

if is_subset_operator:
    print("set1 is a subset of set2 using the <= operator.")
else:
    print("set1 is not a subset of set2 using the <= operator.")

set1 is a subset of set2 using the issubset() method.
set1 is a subset of set2 using the <= operator.

Create an empty dictionary named my_dict.

In [3]:
my_dict = {}

print(type(my_dict))

<class 'dict'>

Add a key-value pair 'name' with value 'John' to the dictionary.

In [4]:
my_dict = {'name' : 'john'}

In [6]:
my_dict['name'] = 'john'

my_dict

{'name': 'john'}

Create a dictionary student with keys 'name', 'age', and 'grade', and their respective values.

In [8]:
student = {'name' : 'Rohan' , 'age' : 19}

student

{'name': 'Rohan', 'age': 19}

In [9]:
student['grade'] = 'A'

student

{'name': 'Rohan', 'age': 19, 'grade': 'A'}

Access the value associated with the key 'age' in the student dictionary.

In [10]:
print(student['age'])

19

Update the value of the 'grade' key in the student dictionary to 'A'.

In [11]:
student['grade'] = "B"

student

{'name': 'Rohan', 'age': 19, 'grade': 'B'}

Remove the key-value pair 'age': 20 from the student dictionary.

In [13]:
del student['age']

student

{'name': 'Rohan', 'grade': 'B'}

Check if the key 'city' exists in the student dictionary.

In [15]:
# student['city'] This will throw error

student.get('city')

Print all the keys present in the student dictionary.

In [17]:
print(student.keys())

dict_keys(['name', 'grade'])

Print all the values present in the student dictionary.

In [18]:
print(student.values())

dict_values(['Rohan', 'B'])

In [24]:
for key , values in student.items() :
    print(key,values)

name Rohan
grade B

Print all key-value pairs present in the student dictionary.

In [25]:
for key , values in student.items() :
    print(key,values)

name Rohan
grade B

Create a new dictionary grades with keys 'math', 'science', and 'history', and assign arbitrary values to them.

In [27]:
grades = { 'math' : 'A' , 'science' : 'B' , 'history': 'C'}

print(grades)

{'math': 'A', 'science': 'B', 'history': 'C'}

Merge the student dictionary with the grades dictionary.

In [31]:
student.update(grades)

student

{'name': 'Rohan', 'grade': 'B', 'math': 'A', 'science': 'B', 'history': 'C'}

In [32]:
st = student.copy()

st.update(grades)

st

{'name': 'Rohan', 'grade': 'B', 'math': 'A', 'science': 'B', 'history': 'C'}

Create a copy of the student dictionary named student_copy.

In [34]:
student_copy = student.copy()

student_copy

{'name': 'Rohan', 'grade': 'B', 'math': 'A', 'science': 'B', 'history': 'C'}

Sort the keys of the student dictionary in alphabetical order.

In [38]:
sorted_kyes = sorted(student.keys())

sorted_kyes

['grade', 'history', 'math', 'name', 'science']

Clear all the items from the grades dictionary.

In [40]:
grades.clear()

In [41]:
grades

{}

# Lambda Functions:

Write a lambda function to double a given number.

In [65]:
def double(x):
    
    return [i * 2 for i in x] 

l=[1,2,3]

double(l)

[2, 4, 6]

Create a lambda function to check if a number is even.

In [74]:
["Even" if x % 2 == 0 else "Odd" for x in l]

['Odd', 'Even', 'Odd']

Define a lambda function to calculate the square of a number.

In [75]:
def fun (l):
    
    return [x**2 for x in l]
    
fun(l)

[1, 4, 9]

Implement a lambda function to concatenate two strings.

In [81]:
def strcon(s1,s2):
    
    if type(s1) != str or type(s2) != str :
        
        s1 = str(s1)
        s2 = str(s2)
        
    return  s1+s2

strcon('Avin ' , 'Shaikh')

'Avin Shaikh'

In [82]:
concatenate_strings = lambda str1, str2: str1 + str2

# Test the lambda function
string1 = "Hello, "
string2 = "world!"
result = concatenate_strings(string1, string2)
print("Concatenated string:", result)

Concatenated string: Hello, world!

Write a lambda function to find the sum of two numbers.

In [83]:
add = lambda x,y : x+y

a = 1
b = 2

add(a,b)

3

# Map Function:

Use the map function to double each element in a list of numbers.

In [87]:
l = [1,2,3,4]

double = list(map(lambda x : x*2 , l))

print(double)

[2, 4, 6, 8]

Convert a list of strings to uppercase using the map function.

In [94]:
s = "avin"

upper = list(map(lambda x : x.upper() , s))

print(upper)

['A', 'V', 'I', 'N']

Map a list of temperatures from Celsius to Fahrenheit.

In [95]:
t = [2,3,4,5]

far = list(map(lambda x : 9/5 * x + 32 , t))

far

[35.6, 37.4, 39.2, 41.0]

Apply the map function to square each element in a list.

In [96]:
l = [2,3,4,5]

sq = list(map(lambda x : x**2,l))

sq

[4, 9, 16, 25]

Use map to convert a list of integers to their corresponding binary representations.

In [97]:
integers = [10, 20, 30, 40, 50]

binary_representations = list(map(lambda x: bin(x), integers))

print(binary_representations)

['0b1010', '0b10100', '0b11110', '0b101000', '0b110010']

# Reduce Function:

Use the reduce function to find the product of elements in a list.

In [101]:
from functools import reduce

pr = reduce(lambda x,y : x*y ,l)

pr

120

Find the maximum element in a list using the reduce function.

In [103]:
reduce(lambda x , y : x if x>y else y , l)

5

Calculate the cumulative sum of elements in a list using reduce.

In [104]:
l = [2,3,4,5]

cumsum = reduce(lambda x , y : x + y ,l)

cumsum

14

Use reduce to concatenate a list of strings.

In [106]:
s = [ "sam" , "john"]

strsum = reduce(lambda x , y : x + y ,s)

strsum

'samjohn'

Implement a custom function to find the factorial of a number using reduce.

In [107]:
def fact(n):
    
    if n == 0 or n == 1 :
        return 1
    
    else :
        return n * (n-1)

In [108]:
from functools import reduce

def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        return reduce(lambda x, y: x * y, range(1, n+1))

number = 5
result = factorial(number)
print("Factorial of", number, "is:", result)

Factorial of 5 is: 120

# Filter Function:

Filter out even numbers from a list using the filter function.

In [110]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def even (x):
    return x%2 == 0

result = list(filter(even,l))

print(result)

[2, 4, 6, 8, 10]

Use filter to remove duplicate elements from a list.

In [113]:
# l = [1, 2,2, 3,3, 4, 5, 6, 7, 8, 9, 10]

# def dup(x):
#     l2 = []
#     for i in x :
#         if i not in l2 :
#             l2.append(i)
#     return l2

# remove_duplicates = list(filter(dup,l))

# remove_duplicates

In [114]:
l = [1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

def remove_duplicates(lst):
    seen = set()
    for item in lst:
        if item not in seen:
            seen.add(item)
            yield item

unique_elements = list(filter(lambda x: True if x else False, remove_duplicates(l)))

print("List with duplicates removed:", unique_elements)

List with duplicates removed: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Filter a list of strings to include only those starting with a vowel.

In [115]:
strings = ["apple", "banana", "orange", "pear", "kiwi", "grape"]

def starts_with_vowel(s):
    vowels = {'a', 'e', 'i', 'o', 'u'}  
    return s[0].lower() in vowels  

filtered_strings = list(filter(starts_with_vowel, strings))

print("Strings starting with a vowel:", filtered_strings)

Strings starting with a vowel: ['apple', 'orange']

Remove negative numbers from a list using the filter function.

In [116]:
numbers = [10, -5, 20, -3, 0, -8, 15]

def remove_negatives(num):
    return num >= 0

non_negative_numbers = list(filter(remove_negatives, numbers))

print("Numbers with negative numbers removed:", non_negative_numbers)

Numbers with negative numbers removed: [10, 20, 0, 15]

Filter out strings longer than a certain length from a list of strings.

In [117]:
numbers = [10, -5, 20, -3, 0, -8, 15]

def remove_negatives(num):
    return num >= 0

non_negative_numbers = list(filter(remove_negatives, numbers))
print("Numbers with negative numbers removed:", non_negative_numbers)

Numbers with negative numbers removed: [10, 20, 0, 15]

# List Comprehension

Create a list containing the squares of numbers from 1 to 10 using list comprehension.

In [118]:
l = [1,2,3,4,5,6,7,8,9]

sqr = [x**2 for x in l]

sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Generate a list of even numbers from 1 to 20 using list comprehension.

In [121]:
lst = [i for i in range (1,41) if i %2 ==0]

lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

Convert a list of strings to uppercase using list comprehension.

In [123]:
strings = ["apple", "banana", "orange", "pear", "kiwi", "grape"]

upper = [i.upper() for i in strings]

upper

['APPLE', 'BANANA', 'ORANGE', 'PEAR', 'KIWI', 'GRAPE']

Create a list of tuples where each tuple contains the number and its square, for numbers from 1 to 5.

In [125]:
l = [1,2,3,4,5,6,7,8,9]

t = [(i,i**2) for i in l]

t

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

Extract the first letter of each word in a given sentence and store them in a list using list comprehension.

In [129]:
string = "My name is Avin Shaikh"

first = [x[0] for x in string.split()]

first

['M', 'n', 'i', 'A', 'S']

Generate a list of prime numbers from 1 to 50 using list comprehension.

In [130]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print("Prime numbers from 1 to 50:", prime_numbers)

Prime numbers from 1 to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Convert a list of Celsius temperatures to Fahrenheit using the formula (Celsius * 9/5) + 32.

In [132]:
c = [1, 4, 9, 16, 25, 36, 49, 64, 81]

f = [9/5*i +32 for i in c]

f

[33.8, 39.2, 48.2, 60.8, 77.0, 96.8, 120.2, 147.2, 177.8]

Create a list of all possible pairs (a, b) where 'a' is a letter from 'x', 'y', 'z' and 'b' is a number from 1 to 3.

In [133]:
letters = ['x', 'y', 'z']

numbers = [1, 2, 3]

pairs = [(letter, number) for letter in letters for number in numbers]

print("All possible pairs (a, b):", pairs)

All possible pairs (a, b): [('x', 1), ('x', 2), ('x', 3), ('y', 1), ('y', 2), ('y', 3), ('z', 1), ('z', 2), ('z', 3)]

Extract all the vowels from a given string and store them in a list using list comprehension.

In [134]:
given_string = "Hello, World!"

vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}

extracted_vowels = [char for char in given_string if char in vowels]

print("Extracted vowels:", extracted_vowels)

Extracted vowels: ['e', 'o', 'o']

Generate a list of lists representing a multiplication table up to 10x10 using nested list comprehension.

In [135]:
multiplication_table = [[row * col for col in range(1, 11)] for row in range(1, 11)]

for row in multiplication_table:
    print(row)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [138]:
list = [[1,2,3],[4,5,6],[7,8,9]]

flattened_list = [item for sublist in list for item in sublist]

flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]